﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4 class="font-medium text-uppercase m-0">Add New Client</h4>
        </div>

        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right ">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Client</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 ">
            <nav aria-label="breadcrumb" class=" mt-2">
                <div class="pull-right">
                    <a href="/Client/List/" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0 ml-5 ">
    <div class="page-content container-fluid">

        <!-- Row -->
        <div class="row  mb-0 justify-content-center">
            <div class="col-12 ">
                <div class="card">

                    <form class="form-horizontal font-12">
                        <div class="card-body">

                            <div class=" row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Client Name</label>
                                            <input type="text" class="form-control" id="Cli_name" value="" placeholder="Client Name" required="required">
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="add" class="text-right control-label col-form-label"> Address</label>
                                            <textarea class="form-control" placeholder="Address" id="Cli_address"></textarea>

                                        </div>


                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Person</label>
                                            <input type="text" class="form-control"  placeholder="Contact Person" required="required">

                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Number</label>
                                            <input type="text" class="form-control" id="Contactnumber" value="" placeholder="Contact Number" required="required">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Fax</label>
                                            <input type="text" class="form-control" id="fax" placeholder="Contact Fax" required="required">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Email</label>
                                            <input type="text" class="form-control" id="Contactemail" value="" placeholder="example@email.com" required="required">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="row">

                                        <div class="col-12 form-group">
                                            <label for="Email" class="text-right control-label col-form-label">Invoice Terms</label>

                                            <select id="invoice_terms" class="form-control input-sm " name="invoice_terms">
                                                <option value="">Select Invoice Term ...</option>
                                                <option value="l">Fortnightly Invoice</option>
                                                <option value="2">Monthly Invoice</option>
                                                <option value="3">Weekly Invoice</option>

                                            </select>

                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="email" class="text-right control-label col-form-label">Payment Terms</label>
                                            <textarea class="form-control" placeholder="Payment Terms"></textarea>
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contract Start</label>
                                            <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="start" placeholder="Contract Start Date" required="required">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contract End</label>
                                            <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="end" placeholder="Contract End Date" required="required">
                                        </div>
                                        <div class="col-12 form-group">
                                            <div class="row">
                                                <div class="col-sm-6">

                                                    <label for="fname" class="text-right control-label col-form-label">Charge Rate (Guarding)</label>
                                                    <input type="text" class="form-control" id="chargeRate_G" value="" placeholder="Charge Rate for Guards" required="required">
                                                </div>
                                                <div class="col-sm-6">

                                                    <label for="fname" class="text-right control-label col-form-label">Charge Rate (Supervisor)</label>
                                                    <input type="text" class="form-control" id="chargeRate_S" value="" placeholder="Charge Rate for Supervisors" required="required">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-5 form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkBox">
                                                <label class="custom-control-label font-12" id="vat" for="checkBox">VAT Registered?</label>
                                            </div>
                                        </div>

                                        <div class="col-7 form-group">
                                            <input type="text" class="form-control hide" value="" id="vat_rgstr" placeholder="VAT Resigtration Number" required="required">

                                        </div>
                                    </div>
                                </div>
                            </div> <hr />
                                   <div class="row justify-content-end">


                                       <div class="col-sm-1">
                                           <button type="submit" class="btn btn-success" name="editSubcontractor">Save         </button> </div>
                                   </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

@section Scripts{
    <script>
        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
        $("#vat").click(function () {
            $("#vat_rgstr").toggleClass("hide");
        });
        $('#invoice_terms').select2({
            selectOnClose: true,
            width: '100%'
        });
    </script>
}
