﻿@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Client Details</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Clients Details</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-purple btn-square">SEARCH</button>
                    <a href="/Client/List" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="row">

                        <div class="col-6">
                            <h4 class="m-2">Angelside Facilities</h4>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <button type="button" class="btn btn-info btn-square pull-right m-2" data-toggle="modal" data-target="#editCLIENTDETAILS">EDIT</button>
                            </div>
                        </div>
                    </div>
                    <table class="table p-0 m-0">
                        <tbody class="">
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong> Address</strong>
                                </td>
                                <td style="padding: 6px !important">	28 Pambrige road</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Contact Name & Number</strong>
                                </td>
                                <td style="padding: 6px !important">	Stephen | 07736 815944</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>FAX</strong>
                                </td>
                                <td style="padding: 6px !important"></td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Email</strong>
                                </td>
                                <td style="padding: 6px !important"><a href="#">info@angleside.co.uk</a>	</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Invoice Terms</strong>
                                </td>
                                <td style="padding: 6px !important">Monthly Invoice</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Payment Terms</strong>
                                </td>
                                <td style="padding: 6px !important"></td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>VAT Registered ?</strong>
                                </td>
                                <td style="padding: 6px !important">
                                    Yes | 20
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Charge Rate (Guarding | Supervisors)</strong>
                                </td>
                                <td style="padding: 6px !important">	|</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Contract Period (Start | End))</strong>
                                </td>
                                <td style="padding: 6px !important">	|</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="col-md-4">
                <div class="card border">
                    <div class="row mt-0 p-0 text-center  vertical-align-center">
                        <div class="col-12">
                            <h2 class="text-danger">0</h2>
                            <h4>CLIENT CONTACTS </h4>
                            <button type="button" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#clientCONTACTS">ADD NEW CONTACT</button>
                        </div>

                    </div>

                    <hr>
                    <div class="row p-0 text-center vertical-align-center">
                        <div class="col-12 mb-3">
                            <h2 class="text-danger">0</h2>
                            <h4>CLIENT SITE GROUPS</h4>
                            <button type="button" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#clientSiteGroup">ADD NEW SITE GROUP</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="table-responsive p-3">
                        <h4 class="">SITE GROUP</h4>
                        <table id="unApproved" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">ID</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">GUARD RATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SUPERVISION RATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="table-responsive p-3">
                        <h4>CLIENT CONTACTS</h4>
                        <table id="approved" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">ID</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT NUMBER </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">EMAIL </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">DEPARTMENT</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">DEFAULT CONTACT</th>

                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>

<div id="editCLIENTDETAILS" class="modal large fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD CLIENT CONTACT</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal font-12">
                    <div class="card-body">

                        <div class=" row">
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Client Name</label>
                                        <input type="text" class="form-control" id="Cli_name" value="Angelside Facilities" required="required">
                                    </div>

                                    <div class="col-12 form-group">
                                        <label for="add" class="text-right control-label col-form-label"> Address</label>
                                        <textarea class="form-control" value="28 Pambrige road" id="Cli_address"></textarea>

                                    </div>
                                    

                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Person</label>
                                        <input type="text" class="form-control" value="Stephen" placeholder="" required="required">

                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Number</label>
                                        <input type="text" class="form-control" id="Contactnumber" value="07736 815944" placeholder="" required="required">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Fax</label>
                                        <input type="text" class="form-control" id="Contactnumber" placeholder="Contact Fax" required="required">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Email</label>
                                        <input type="text" class="form-control" id="Contactemail" value="info@angleside.co.uk" placeholder="Contact Fax" required="required">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="row">

                                    <div class="col-12 form-group">
                                        <label for="Email" class="text-right control-label col-form-label">Invoice Terms</label>

                                        <select id="invoice_terms" class="form-control input-sm " name="invoice_terms">
                                            <option value="">Select Invoice Term ...</option>
                                            <option value="l">Fortnightly Invoice</option>
                                            <option value="2">Monthly Invoice</option>
                                            <option value="3">Weekly Invoice</option>

                                        </select>

                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="email" class="text-right control-label col-form-label">Payment Terms</label>
                                        <textarea class="form-control" placeholder="Payment Terms"></textarea>
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contract Start</label>
                                        <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="start" placeholder="Contract Start Date" required="required">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contract End</label>
                                        <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="end" placeholder="Contract End Date" required="required">
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <label for="fname" class="text-right control-label col-form-label">Charge Rate (Guarding)</label>
                                                <input type="text" class="form-control" id="chargeRate_G" value="" placeholder="Charge Rate for Guards" required="required">
                                            </div>
                                            <div class="col-sm-6">

                                                <label for="fname" class="text-right control-label col-form-label">Charge Rate (Supervisor)</label>
                                                <input type="text" class="form-control" id="chargeRate_S" value="" placeholder="Charge Rate for Supervisors" required="required">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-5 form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkBox">
                                            <label class="custom-control-label font-12" id="vat" for="checkBox">VAT Registered?</label>
                                        </div>
                                    </div>

                                    <div class="col-7 form-group">
                                        <input type="text" class="form-control hide" value="20" id="vat_rgstr" placeholder="VAT Resigtration Number" required="required">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="row">


                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success" name="editSubcontractor">UPDATE</button>

                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="clientCONTACTS" class="modal fade ">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">EDIT SUBCONTRACTOR</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="card-body">

                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">CONTACT NAME</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="CoNname" value="Angelside Facilities" placeholder="" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">DEPARTMENT NAME </label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <select id="department" class="form-control input-sm " name="">
                                                        <option value="">Select DEPARTMENT ...</option>
                                                        <option value="CCTV">Finance</option>
                                                        <option value="Close Protection">Operations</option>
                                                        <option value="Door Supervision">Other</option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">CONTACT NAME</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Compname" placeholder="Contact Person Name" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">CONTACT NUMBER</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="" placeholder="Contact Person Number" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">FAX</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Compname" placeholder="Fax" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">EMAIL</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Compname" placeholder="example@mail.com" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkBox">
                                    <label class="custom-control-label" id="make_default" for="checkBox">MAKE DEFAULT CONTACT</label>
                                </div>
                                <div class="col-8 form-group">
                                    <span id="makeDefault"></span>


                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" name="addCONTRACTORcONTACTS">SAVE RECORD</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
            </div>
        </div>
    </div>
</div>
<div id="clientSiteGroup" class="modal fade ">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD SITE GROUP</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">CLIENT NAME</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="clientName" placeholder="" value="Angelside Facilities" disabled required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">CLIENT CHARGE RATE GAUARD</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Compname" placeholder="" disabled required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">Client Charge Rate (Supervisor)</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Compname" placeholder="" disabled required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">SITE GROUP NAME</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Site Group Name" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="SIA_Type" class="text-right control-label col-form-label">SITE GROUP RATE (Guarding)</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Site Group Rate for Guards" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="EXP_DATE" class="text-right control-label col-form-label">EXPIRY DATE</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="" placeholder="Site Group Rate for Supervisors" required="required">



                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" name="">SAVE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
            </div>

        </div>
    </div>
</div>






@section Scripts{

    <script>
        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });

        $("#approved").DataTable();
        $("#unApproved").DataTable();
        $("#subContacts").DataTable();


        //$("#make_default").click(function () {
        //    $("#makeDefault").toggleClass("hide");
        //});
        $("#vat").click(function () {
            $("#vat_rgstr").toggleClass("hide");
        });
        $('#SIA_type').select2({
            selectOnClose: true,
            width: '100%'
        });

        $('#invoice_terms').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#department').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#gg_search').select2({
            selectOnClose: true,
            width: '100%'

        });
    </script>
}


