﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Current Clients</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Current Clients List</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-purple btn-square" data-toggle="modal" data-target="#myModalSearch">SEARCH</button>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive p-3">
                        <table id="employees-list" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">ID  </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CLIENT NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ADDRESS</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">FAX </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">EMAIL</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td>
                                        Angelside Facilities
                                    </td>
                                    <td>28 Pambrige road</td>
                                    <td>	07736 815944</td>
                                    <td></td>
                                    <td>	info@angleside.co.uk5</td>
                                 
                                    <td>
                                        <a href="/Client/Detail/1" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Client Details">
                                            <i class="icon-folder-alt"></i>
                                        </a>
                                        
                                        <button type="button" data-empid="1" onclick="deleteEmployee(this)" class="btn btn-outline-danger btn-circle btn-lg btn-circle " data-toggle="tooltip" title="Delete Client"><i class="ti-trash"></i> </button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalSearch" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SEARCH CLIENT</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Guard Group</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100" name="gg_id" id="gg_search">
                                            <option value="">Select Client</option>
                                            <option value="1">Angelside Facilities</option>
                                            <option value="2">Expendious Services</option>
                                            <option value="2">Frankies Wine Bar</option>
                                            <option value="2">OXM Security</option>
                                            <option value="2">Regency Security Group LTD.</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">SEARCH</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $(function () {
            $("#employees-list").DataTable();

            $('#employeement_type_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#gg_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#branch_change_search').select2({
                selectOnClose: true,
                width: '100%'
            });

            $('.datepicker').datepicker({
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0",
                weekStart: 1,
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });


        });
        function deleteEmployee(btn) {
            var id = btn.dataset.empid;

            const { value: formValues } = Swal.fire({
                title: 'Are you sure to Delete?',
                type: "warning",
                text: "You can recover this from deleted employee's list!",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true,
                html:
                    '<input id="LeavingDate" name="LeavingDate" class="datepicker swal2-input" placeholder="Leaving Date">' +
                    '<input id="LeavingComments" name="LeavingComments" class="swal2-input" placeholder="Leaving Comments">',

                preConfirm: () => {


                    Swal.fire('Deleted!!', 'Employee has been moved to trash!', 'success');

                }
            });


            $('.datepicker').datepicker({
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0",
                weekStart: 1,
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
        }
    </script>
}