﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Call Monitor</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Call Monitor List</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-purple btn-square" data-toggle="modal" data-target="#myModalSearch">SEARCH CALL</button>
                    <button type="button" class="btn btn-danger btn-square" >RESET</button>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0 ">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive p-3">
                        <table id="callMonitor_list" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-12 w-50">CLIENT NAME  </th>
                                    <th scope="col" class="border-0 text-uppercase font-12">SIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">SITE NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">PIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">	STAFF NAME </th>
                                    <th scope="col" class="border-0 text-uppercase font-12">DATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">SHIFT START TIME</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">SHIFT END TIME</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">OPERATION</th>
                                    <th scope="col" class="border-0 text-uppercase font-12 bg-inverse text-white"  >OPERATION SCHEDULED TIME</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Expeditious Services</td>
                                    <td>
                                        8
                                    </td>
                                    <td><a href="https://ssg.indel.uk/call-monitor#">Cambridge Trunks</a></td>
                                    <td>	8</td>
                                    <td><a href="	Muhammad Azhar Siddiqui - 07481792351">	Muhammad Azhar Siddiqui - 07481792351</a></td>
                                    <td>		01 Apr 2020</td>
                                    <td>	07:30</td>
                                    <td>	17:30</td>
                                    <td><button class="btn-rounded btn-success">BOOK OFF</button></td>
                                    <td class="bg-inverse text-white">17:30</td>


                                    <td>
                                        <a href="" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="BOOK OFF">
                                            <i class="fas fa-play-circle"></i>
                                        </a>

                                        <button type="button" data-empid="1"  class="btn btn-outline-secondary btn-circle btn-lg btn-circle " data-toggle="tooltip" title="CHASEUP CALL"><i class="ti-trash"></i> </button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalSearch" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SEARCH SHIFTS</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Client Name</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100" name="" id="client_search">
                                            <option value="">All Client</option>
                                            <option value="1">Angelside Facilities</option>
                                            <option value="2">Expendious Services</option>
                                            <option value="2">Frankies Wine Bar</option>
                                            <option value="2">OXM Security</option>
                                            <option value="2">Regency Security Group LTD.</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Site Group</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100" name="" id="site_search">
                                            <option value="">All Site Groups</option>
                                            <option value="1">Angelside Facilities</option>
                                            <option value="2">Expendious Services</option>
                                            <option value="2">Frankies Wine Bar</option>
                                            <option value="2">OXM Security</option>
                                            <option value="2">Regency Security Group LTD.</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div> <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Site Name</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100" name="" id="siteName_search">
                                            <option value="">All Sites</option>
                                           

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div> <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Employee OR Sub.</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100" name="" id="employeeORsubconstructor">
                                            <option value="">Select Employee or Subcontractor</option>
                                           

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">SEARCH</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section MainScripts{

    <script>
        $(function () {
            $("#callMonitor_list    ").DataTable();

            $('#siteName_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#client_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#site_search').select2({
                selectOnClose: true,
                width: '100%'
            }); $('#employeeORsubconstructor').select2({
                selectOnClose: true,
                width: '100%'
            })

            $('.datepicker').datepicker({
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0",
                weekStart: 1,
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });


        });
        //function deleteEmployee(btn) {
        //    var id = btn.dataset.empid;

        //    const { value: formValues } = Swal.fire({
        //        title: 'Are you sure to Delete?',
        //        type: "warning",
        //        text: "You can recover this from deleted employee's list!",
        //        showCancelButton: true,
        //        confirmButtonColor: "#DD6B55",
        //        confirmButtonText: "Yes, delete it!",
        //        closeOnConfirm: true,
        //        html:
        //            '<input id="LeavingDate" name="LeavingDate" class="datepicker swal2-input" placeholder="Leaving Date">' +
        //            '<input id="LeavingComments" name="LeavingComments" class="swal2-input" placeholder="Leaving Comments">',

        //        preConfirm: () => {


        //            Swal.fire('Deleted!!', 'Employee has been moved to trash!', 'success');

        //        }
        //    });


        //    $('.datepicker').datepicker({
        //        orientation: "bottom auto",
        //        daysOfWeekHighlighted: "0",
        //        weekStart: 1,
        //        format: "dd-mm-yyyy",
        //        autoclose: true,
        //        todayHighlight: true,
        //        toggleActive: true
        //    });
        //}
    </script>
}