<div width="100%" style="background: #f8f8f8; padding: 0px 0px; font-family:arial; line-height:28px;  width: 100%; color: #514d6a;">
    <div style="max-width: 700px; padding:50px 0;  margin: 0px auto; font-size: 14px">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; margin-bottom: 20px">
            <tbody>
                <tr>
                    <td style="vertical-align: top; padding-bottom:30px;" align="center">
                        <a href="##EnvirontmentUrl##" target="_blank">
                            ##LogoUrl##
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="padding: 40px; background: #fff;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tbody>
                    <tr>
                        <td>
                            <b>Dear ##UserName##,</b>
                            <p>You have been registered on SSG. Just click the button below to provide more information. </p>
                            <a href="##InviteLink##" style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #28375C; border-radius: 60px; text-decoration:none;">
                                Provide More Information and Register</a>
                           
                            <p>If you are having trouble signing up, please contact <a href="mailto:ssgsguards@gmail.com"> Administrator (ssgsguards@gmail.com)</a>.</p>
                            <b>Regards, <br />
                             SSG Team</b>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align: center; font-size: 12px; color: #b2b2b5; margin-top: 20px">
            <div style="line-height:1">
                <a href="##EnvirontmentUrl##"> SSG </a>
            </div>
            <div style="line-height:1">
                <a href="##LoginLink##" style="display: inline-block; padding: 11px 30px; margin: 20px 0px 30px; font-size: 15px; color: #fff; background: #28375C; border-radius: 60px; text-decoration:none;">
                    Login
                </a>
            </div>
            <div style="line-height:1.6">
                <b>Contact Us</b>
                <div><a href="mailto:ssgsguards@gmail.com"> ssgsguards@gmail.com </a></div>
                
            </div>
        </div>
    </div>
</div>