﻿@using Management.Data.Models
@inject Management.Infrastructure.Security.Identity.UserManager usermaneger;
@{
    var loggedUser = usermaneger.GetUserAsync(User).Result;
    var loggedUserRole = usermaneger.GetRolesAsync(loggedUser).Result.FirstOrDefault();

    ViewData["Title"] = "Home Page";
    var isSuperAdminLogedin = User.IsInRole(UserRoles.SuperAdmin.ToString());

}
<div class="page-breadcrumb bg-light py-2">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Dashboard</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0">
    <div class="page-content container-fluid">

        <!-- ============================================================== -->
        <!-- Card Group  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-12 col-md-6  col-lg-3 mb-2">
                <div class="card p-2 p-lg-3">
                    <div class="d-flex align-items-center ">
                        <a class="btn btn-circle btn-danger text-white btn-lg">
                            <i class="icon-envelope"></i>
                        </a>
                        <div class="ml-4">
                            <h4 class="font-light font-12 text-center"><a href="mailto:email@@email.com">PORTAL SUPPORT</a></h4>
                        </div>
                        <div class="ml-4">
                            <h4 class="font-light font-12 text-center"><a href="mailto:email@@email.com">EMAIL SUPPORT</a> </h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  col-lg-3 mb-2">
                <div class="card p-2 p-lg-3">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-circle btn-cyan text-white btn-lg" href="/Employee/List">
                            <i class="icon-people"></i>
                        </a>
                        <div class="ml-4 ">
                            <h4 class="font-light font-16 mt-0">ACTIVE STAFF</h4>
                            <div class="progress">
                                <div class="progress-bar bg-cyan" role="progressbar" style="width:0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <h2 class="display-7 my-0">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-2">
                <div class="card p-2 p-lg-3">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-circle btn-purple text-white btn-lg" href="/Client/List">
                            <i class="icon-layers"></i>
                        </a>
                        <div class="ml-3">
                            <h4 class="font-light font-16 mt-0">ACTIVE CLIENTS</h4>
                            <div class="progress">
                                <div class="progress-bar bg-purple" role="progressbar" style="width:0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <h2 class="display-7 my-0">0</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6  col-lg-3 mb-2">
                <div class="card p-2 p-lg-3">
                    <div class="d-flex align-items-center">
                        <a class="btn btn-circle btn-success text-white btn-lg" href="/Site/List">
                            <i class="icon-map"></i>
                        </a>
                        <div class="ml-4">
                            <h4 class="font-light font-16 mt-0">ACTIVE SITES</h4>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="ml-auto">
                            <h2 class="display-7 my-0">0</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="card h-100">
                    <div class="card-body analytics-info">
                        <div class="d-flex align-items-center">
                            <div>
                                <h4 class="card-title">WEEKLY SHIFTS STATUS</h4>
                            </div>
                            <div class="ml-auto">
                                <input type="text" value="@DateTime.Now.ToString(" dd-MM-yyyy")" class="datepicker form-control" placeholder="Week...">
                            </div>
                        </div>
                        <div id="stacked-column" style="height:300px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card h-100">
                    <div class="d-flex align-items-center p-3">
                        <h5 class="card-title mb-0 text-uppercase">EVENTS</h5>
                    </div>
                    <div class="p-3 table-responsive">
                        <table class="table text-muted mb-0 no-wrap recent-table font-light">
                            <thead>
                                <tr class="text-uppercase">
                                    <th class="border-0 font-13">DATE</th>
                                    <th class="border-0 font-13">TIME</th>
                                    <th class="border-0 font-13">TYPE</th>
                                    <th class="border-0 font-13">EMPLOYEE / SUB EMPLOYEE</th>
                                    <th class="border-0 font-13">CREATED BY</th>
                                    <th class="border-0 font-13">ACTION</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-dark">18-03-2017</td>
                                    <td class="text-dark">01:00</td>
                                    <td><span class="badge badge-pill text-uppercase text-white font-13 badge-danger label-rouded">Lateness</span> </td>
                                    <td><span class="text-dark">Wasim Akram</span></td>
                                    <td><span class="text-dark">superadmin</span></td>
                                    <td class="text-center"><button type="button" class="btn btn-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Event"><i class="icon-list"></i> </button></td>
                                </tr>
                                <tr>
                                    <td class="text-dark">18-03-2017</td>
                                    <td class="text-dark">01:00</td>
                                    <td><span class="badge badge-pill text-uppercase text-white font-13 badge-danger label-rouded">Lateness</span> </td>
                                    <td><span class="text-dark">Wasim Akram</span></td>
                                    <td><span class="text-dark">superadmin</span></td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Event"><i class="icon-list"></i> </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-dark">18-03-2017</td>
                                    <td class="text-dark">01:00</td>
                                    <td><span class="badge badge-pill text-uppercase text-white font-13 badge-danger label-rouded">Lateness</span> </td>
                                    <td><span class="text-dark">Wasim Akram</span></td>
                                    <td><span class="text-dark">superadmin</span></td>
                                    <td class="text-center"><button type="button" class="btn btn-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Event"><i class="icon-list"></i> </button></td>
                                </tr>
                                <tr>
                                    <td class="text-dark">18-03-2017</td>
                                    <td class="text-dark">01:00</td>
                                    <td><span class="badge badge-pill text-uppercase text-white font-13 badge-danger label-rouded">Lateness</span> </td>
                                    <td><span class="text-dark">Wasim Akram</span></td>
                                    <td><span class="text-dark">superadmin</span></td>
                                    <td class="text-center"><button type="button" class="btn btn-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Event"><i class="icon-list"></i> </button></td>
                                </tr>
                                <tr>
                                    <td class="text-dark">18-03-2017</td>
                                    <td class="text-dark">01:00</td>
                                    <td><span class="badge badge-pill text-uppercase text-white font-13 badge-danger label-rouded">Lateness</span> </td>
                                    <td><span class="text-dark">Wasim Akram</span></td>
                                    <td><span class="text-dark">superadmin</span></td>
                                    <td class="text-center"><button type="button" class="btn btn-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Event"><i class="icon-list"></i> </button></td>
                                </tr>
                                <tr>
                                    <td class="text-dark">18-03-2017</td>
                                    <td class="text-dark">01:00</td>
                                    <td><span class="badge badge-pill text-uppercase text-white font-13 badge-danger label-rouded">Lateness</span> </td>
                                    <td><span class="text-dark">Wasim Akram</span></td>
                                    <td><span class="text-dark">superadmin</span></td>
                                    <td class="text-center"><button type="button" class="btn btn-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Event"><i class="icon-list"></i> </button></td>
                                </tr>
                                <tr>
                                    <td class="text-dark">18-03-2017</td>
                                    <td class="text-dark">01:00</td>
                                    <td><span class="badge badge-pill text-uppercase text-white font-13 badge-danger label-rouded">Lateness</span> </td>
                                    <td><span class="text-dark">Wasim Akram</span></td>
                                    <td><span class="text-dark">superadmin</span></td>
                                    <td class="text-center"><button type="button" class="btn btn-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="View Event"><i class="icon-list"></i> </button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-uppercase">LAST 12 MONTHS HISTORY</h5>
                        <ul class="list-inline dl mb-0 float-right">
                            <li class="list-inline-item text-purple "><i class="fa fa-circle"></i> Shifts</li>
                            <li class="list-inline-item text-info"><i class="fa fa-circle"></i> Hours</li>
                        </ul>
                        <div id="morris-line-charts" style="height: 320px;"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-4">
                <div class="card">


                    <div class="card-body pt-1">
                        <h5 class="card-title text-uppercase">Employement Type</h5>
                        <ul class="list-inline dl mb-0 position-absolute r-1 t-1 ">
                            <li class="list-inline-item text-info "><i class="fa fa-circle"></i> Non Operational</li>
                            <br />
                            <li class="list-inline-item text-orange"><i class="fa fa-circle"></i> Operational</li>
                        </ul>
                        <div>
                            <div id="employment-type" style="height:350px; padding-top: 50px;"></div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">


                    <div class="card-body pt-1">
                        <h5 class="card-title text-uppercase">S.I.A Lisences</h5>
                        <ul class="list-inline dl mb-0 float-right position-absolute r-1 t-1">
                            <li class="list-inline-item text-info "><i class="fa fa-circle"></i>Security Guarding</li>
                            <br />
                            <li class="list-inline-item text-orange"><i class="fa fa-circle"></i> Door Supervision</li>
                            <br />
                            <li class="list-inline-item text-purple"><i class="fa fa-circle"></i> Close Protection</li>
                            <br />
                            <li class="list-inline-item text-dark"><i class="fa fa-circle"></i> CCTV</li>
                            <br />
                            <li class="list-inline-item text-danger"><i class="fa fa-circle"></i> Key Holding</li>
                        </ul>
                        <div>
                            <div id="S.I.A Lisence" style="height:350px; padding-top: 50px;"></div>
                        </div>

                    </div>


                </div>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">


                    <div class="card-body pt-1">
                        <h5 class="card-title text-uppercase">Employees Qualification</h5>
                        <ul class="list-inline dl mb-0 position-absolute r-1 t-1">
                            <li class="list-inline-item text-info "><i class="fa fa-circle"></i>First Aid</li>

                        </ul>
                        <div>
                            <div id="employee-qualification" style="height:350px; padding-top: 50px;"></div>
                        </div>

                    </div>


                </div>
            </div>






        </div>
        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="material-card card">
                    <div class="card-body">
                        <h4 class="card-title">SIA LICENSE EXPIRY (EMPLOYEES)</h4>

                        <div class="table-responsive">
                            <table id="SIALicenseExpiryEmp" class="table table-striped border">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>NAME</th>
                                        <th>CONTACT</th>
                                        <th>SIA NUMBER</th>
                                        <th>SIA TYPE</th>
                                        <th>SIA EXPIRY</th>
                                        <th>EXPIRY DATES</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>9</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>11</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>12</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>13</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>14</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>15</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>16</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>18</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>19</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>Garrett Winters</td>
                                        <td>+447922800407</td>
                                        <td>	1012319445067341</td>
                                        <td>Door Supervision</td>
                                        <tD>04-02-2020</tD>
                                        <td class="text-center"><span class="badge-pill badge-danger ">Expired</span></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="material-card card">
                    <div class="card-body">
                        <h4 class="card-title">SIA LICENSE EXPIRY (SUB EMPLOYEES)</h4>

                        <div class="table-responsive">
                            <table id="SIALicenseExpirySubEmp" class="table table-striped border">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>SUBCONTRACTOR</th>
                                        <th>SUB EMPLOYEE</th>
                                        <th>CONTACT</th>
                                        <th>SIA NUMBER</th>
                                        <th>SIA TYPE</th>
                                        <th>SIA EXPIRY</th>
                                        <th>EXPIRY DATES</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- order table -->



</div>

@section Scripts{
    <script>
        $(function () {

            $("#SIALicenseExpirySubEmp").DataTable();
            $("#SIALicenseExpiryEmp").DataTable();

            Morris.Donut({
                element: 'employment-type',
                data: [{
                    label: "Non Operational",
                    value: 5
                }, {
                    label: "Operational",
                    value: 95
                }],
                resize: true,
                colors: ['orange', '#23b7e5']
            });


            Morris.Donut({
                element: 'S.I.A Lisence',
                data:
                    [{
                        label: "Security Guarding",
                        value: 2,

                    },
                    {
                        label: "Door Supervision",
                        value: 90,

                    }
                        , {
                        label: "Close Protection",
                        value: 8
                    }, {
                        label: "CCTV",
                        value: 0
                    }
                        , {
                        label: "Key Holding",
                        value: 0
                    }],
                resize: true,
                colors: ['#23b7e5', 'orange', '#9F81F7', '#32AC8E', '#FF0000']
            });

            Morris.Donut({
                element: 'employee-qualification',
                data: [{
                    label: "First Aid",
                    value: 100,

                },],
                resize: true,
                colors: ['#23b7e5']
            });













            $('.datepicker').datepicker({
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0",
                weekStart: 1,
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });

            var stackedbarcolumnChart = echarts.init(document.getElementById('stacked-column'));
            var option = {

                // Setup grid
                grid: {
                    x: 40,
                    x2: 40,
                    y: 45,
                    y2: 25
                },

                // Add tooltip
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {            // Axis indicator axis trigger effective
                        type: 'shadow'        // The default is a straight line, optionally: 'line' | 'shadow'
                    }
                },
                toolbox: {
                    show: true,
                    feature: {
                        saveAsImage: { show: true },

                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                    }
                },
                // Add legend
                legend: {
                    data: ['Hours', 'Shifts']
                },

                // Add custom colors
                color: ['#2962FF', '#4fc3f7'],

                // Enable drag recalculate
                calculable: true,

                // Horizontal axis
                xAxis: [{
                    type: 'category',
                    data: ['02-03-2020', '03-03-2020', '04-03-2020', '05-03-2020', '06-03-2020', '07-03-2020', '08-03-2020']
                }],

                // Vertical axis
                yAxis: [{
                    type: 'value',
                }],

                // Add series
                series: [

                    {
                        name: 'Hours',
                        type: 'bar',
                        barWidth: 30,
                        stack: 'hours',
                        data: [150, 232, 201, 154, 190, 330, 410]
                    },
                    {
                        name: 'Shifts',
                        type: 'bar',
                        data: [862, 1018, 964, 1026, 1679, 1600, 1570],

                    }
                ]
                // Add series

            };
            stackedbarcolumnChart.setOption(option);




            var line = new Morris.Line({
                element: 'morris-line-charts',
                resize: true,
                data: [
                    { y: '2019-04', shifts: 0, hours: 0 },
                    { y: '2019-05', shifts: 0, hours: 0 },
                    { y: '2019-06', shifts: 0, hours: 0 },
                    { y: '2019-07', shifts: 0, hours: 0 },
                    { y: '2019-08', shifts: 0, hours: 0 },
                    { y: '2019-09', shifts: 0, hours: 0 },
                    { y: '2019-10', shifts: 0, hours: 0 },
                    { y: '2019-11', shifts: 0, hours: 0 },
                    { y: '2019-12', shifts: 36, hours: 364 },
                    { y: '2020-01', shifts: 246, hours: 2501 },
                    { y: '2020-02', shifts: 234, hours: 2378 },
                    { y: '2020-03', shifts: 75, hours: 736 }
                ],
                xkey: 'y',
                ykeys: ['shifts', 'hours'],
                labels: ['Shifts', 'Hours'],
                xLabels: "month",
                xLabelFormat: function (x) {
                    return moment(x).format("MMM YYYY");
                },
                gridLineColor: '#eef0f2',
                lineColors: ['#7266BA', '#2CABE3'],
                lineWidth: 2,
                hideHover: 'auto'
            });
        });
    </script>
}