﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutSubContractors.cshtml";
}
<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Add New Subcontractor</h5>
        </div>

        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right ">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Subcontractor</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 ">
            <nav aria-label="breadcrumb" class=" mt-2">
                <div class="pull-right">
                    <a href="/SubContractors/List" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0 ml-5 ">
    <div class="page-content container-fluid">

        <!-- Row -->
        <div class="row  mb-0 justify-content-center">
            <div class="col-12 ">
                <div class="card">

                    <form class="form-horizontal">
                        <div class="card-body">

                            <div class=" row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Company Name</label>
                                            <input type="text" class="form-control" id="Compname" placeholder="Company Name" required="required">
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Company Address</label>
                                            <input type="text" class="form-control" id="Compaddress" placeholder="Company Address" required="required">
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Person</label>
                                            <input type="text" class="form-control" id="Contactperson" placeholder="Contact Person" required="required">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Number</label>
                                            <input type="text" class="form-control" id="Contactnumber" placeholder="Contact Number" required="required">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Department</label>
                                            <input type="text" class="form-control" id="Contactnumber" placeholder="Contact Department" required="required">
                                        </div>

                                    </div>
                                </div>



                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="email" class="text-right control-label col-form-label">Email Address</label>
                                            <input type="text" class="form-control" id="email" placeholder="Email ID" required="required">
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Email Address</label>

                                            <select id="invoice_terms" class="form-control input-sm " name="invoice_terms">
                                                <option value="">Select Invoice Term ...</option>
                                                <option value="Non-operational">Fortnightly Invoice</option>
                                                <option value="Operational">Monthly Invoice</option>
                                                <option value="Operational">Weekly Invoice</option>

                                            </select>

                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="email" class="text-right control-label col-form-label">Payment Terms</label>
                                            <textarea class="form-control" placeholder="Payment Terms"></textarea>
                                        </div>
                                        <div class="col-4 form-group">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkBox">
                                                <label class="custom-control-label" id="vat" for="checkBox">VAT Registered?</label>
                                            </div>
                                        </div>

                                        <div class="col-8 form-group">
                                            <input type="text" class="form-control hide" id="vat_rgstr" placeholder="VAT Resigtration Number" required="required">

                                        </div>

                                        <div class="col-12 form-group">
                                            <label class="text-right control-label col-form-label">Pay Rate</label>
                                            <input type="text" class="form-control" id="pay_rate" placeholder="Pay Rate" required="required">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-0 text-right">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- End Row -->

    @section Scripts{
        <script>
            $("#vat").click(function () {
                $("#vat_rgstr").toggleClass("hide");
            });
            $('#invoice_terms').select2({
                selectOnClose: true,
                width: '100%'
            });
        </script>
    }
