﻿@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutSubContractors.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Subcontractor Details</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Subcontractor Details</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-purple btn-square">SEARCH</button>
                    <a href="/SubContractors/List" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">

        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="row">

                        <div class="col-6">
                            <h4 class="m-2">James Adam Edwards</h4>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <button type="button" class="btn btn-info btn-square pull-right m-2" data-toggle="modal" data-target="#editSUBCONTRACTOR">EDIT</button>
                            </div>
                        </div>
                    </div>
                    <table class="table p-0 m-0">
                        <tbody class="">
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Company Address</strong>
                                </td>
                                <td style="padding: 6px !important"></td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Contact Name &amp; Number</strong>
                                </td>
                                <td style="padding: 6px !important"> ()</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Contact Department</strong>
                                </td>
                                <td style="padding: 6px !important"></td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Email</strong>
                                </td>
                                <td style="padding: 6px !important"><a href="#"></a></td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Invoice Terms</strong>
                                </td>
                                <td style="padding: 6px !important">Monthly Invoice</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Payment Terms</strong>
                                </td>
                                <td style="padding: 6px !important"></td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>VAT Registered ?</strong>
                                </td>
                                <td style="padding: 6px !important">
                                    No
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Pay Rate</strong>
                                </td>
                                <td style="padding: 6px !important">9.50</td>
                            </tr>
                        </tbody>
                    </table>


                </div>
            </div>
            <div class="col-md-4">
                <div class="card border">

                    <div class="row p-0 text-center vertical-align-center">
                        <div class="col-12">
                            <h2 class="text-danger">0</h2>
                            <h4>TOTAL SUB-EMPLOYEES</h4>
                            <button type="button" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#addSUBEMPLOYEE">ADD NEW SUB-EMPLOYEE</button>
                        </div>

                    </div>
                    <hr>
                    <div class="row mt-0 p-0 text-center  vertical-align-center">
                        <div class="col-12 mb-3">
                            <h2 class="text-danger mt-0">0</h2>
                            <h4>SUBCONTRACTOR CONTACTS</h4>
                            <button type="button" class="btn btn-success btn-rounded" data-toggle="modal" data-target="#addCONTRACTORcONTACTS">ADD NEW CONTACT</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="table-responsive p-3">
                        <h4>CURRENT SUB-EMPLOYEES</h4>
                        <table id="approved" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">PIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">FORENAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">MIDDLE NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SURNAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">LEAVING DATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SIA NUMBER  </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">EXPIRY</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="table-responsive p-3">
                        <h4 class="text-danger">UN APPROVED SUB-EMPLOYEES</h4>
                        <table id="unApproved" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">PIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">FORENAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">MIDDLE NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SURNAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">LEAVING DATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SIA NUMBER  </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">EXPIRY</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">


                    <div class="table-responsive p-3">
                        <h4 class="">SUBCONTRACTOR CONTACTS</h4>
                        <table id="subContacts" class="table no-wrap user-table mb-0">

                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">PIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">FORENAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">MIDDLE NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SURNAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">LEAVING DATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SIA NUMBER  </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">EXPIRY</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="editSUBCONTRACTOR" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">EDIT SUBCONTRACTOR</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="card-body">

                        <div class=" row">
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Company Name</label>
                                        <input type="text" class="form-control" id="Compname" placeholder="Company Name" required="required">
                                    </div>

                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Company Address</label>
                                        <input type="text" class="form-control" id="Compaddress" placeholder="Company Address" required="required">
                                    </div>

                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Person</label>
                                        <input type="text" class="form-control" id="Contactperson" placeholder="Contact Person" required="required">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Number</label>
                                        <input type="text" class="form-control" id="Contactnumber" placeholder="Contact Number" required="required">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Department</label>
                                        <input type="text" class="form-control" id="Contactnumber" placeholder="Contact Department" required="required">
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="email" class="text-right control-label col-form-label">Email Address</label>
                                        <input type="text" class="form-control" id="email" placeholder="Email ID" required="required">
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="Email" class="text-right control-label col-form-label">Email Address</label>

                                        <select id="invoice_terms" class="form-control input-sm " name="invoice_terms">
                                            <option value="">Select Invoice Term ...</option>
                                            <option value="l">Fortnightly Invoice</option>
                                            <option value="2">Monthly Invoice</option>
                                            <option value="3">Weekly Invoice</option>

                                        </select>

                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="email" class="text-right control-label col-form-label">Payment Terms</label>
                                        <textarea class="form-control" placeholder="Payment Terms"></textarea>
                                    </div>
                                    <div class="col-5 form-group">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="checkBox">
                                            <label class="custom-control-label font-12" id="vat" for="checkBox">VAT Registered?</label>
                                        </div>
                                    </div>

                                    <div class="col-7 form-group">
                                        <input type="text" class="form-control hide" id="vat_rgstr" placeholder="VAT Resigtration Number" required="required">

                                    </div>

                                    <div class="col-12 form-group">
                                        <label class="text-right control-label col-form-label">Pay Rate</label>
                                        <input type="text" class="form-control" id="pay_rate" placeholder="Pay Rate" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="row">


                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success" name="editSubcontractor">UPDATE</button>

                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="addSUBEMPLOYEE" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD SUB-EMPLOYEE</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">SUBCONTRACTOR NAME</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Compname" placeholder="SUBCONTRACTOR NAME" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">STAFF NAME</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Compname" placeholder="STAFF NAME OF SUBCONTRACTOR" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">CONTATCT NUMER</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Compname" placeholder="STAFFCONTACT NUMBER" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">SIA NUMBER</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Compname" placeholder="SIA NUMBER" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="SIA_Type" class="text-right control-label col-form-label">SIA TYPE</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <select id="SIA_type" class="form-control input-sm " name="">
                                        <option value="">Select SIA Type ...</option>
                                        <option value="CCTV">CCTV</option>
                                        <option value="Close Protection">Close Protection</option>
                                        <option value="Door Supervision">Door Supervision</option>
                                        <option value="Key Holding">Key Holding</option>
                                        <option value="Security Guarding">Security Guarding</option>


                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="EXP_DATE" class="text-right control-label col-form-label">EXPIRY DATE</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="EXP_DATE" placeholder="SIA EXPIRY NUMBER" required="required">


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="DOB" class="text-right control-label col-form-label">DATE OF BIRTH</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="dob" placeholder="SIA EXPIRY NUMBER" required="required">


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="NI" class="text-right control-label col-form-label">NI NUMBER</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="NI_NUMBER" placeholder="NI NUMBER" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="TRAINING" class="text-right control-label col-form-label">TRAINING NAME</label>

                                </div>
                            </div>
                            <div class="col-8  col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="TRAINING" placeholder="TRAINING NAME" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="certificate" class="text-right control-label col-form-label">CERTIFICATE NUMBER</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="certificate" placeholder="CERTIFICATE NUMBER" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="certificate" class="text-right control-label col-form-label">CERTIFICATE NUMBER</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="certificate" placeholder="CERTIFICATE NUMBER" required="required">

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 col-sm-12">
                                <div class="form-group">
                                    <label for="address" class="text-right control-label col-form-label">ADDRESS</label>

                                </div>
                            </div>
                            <div class="col-8 col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="address" placeholder="Staff Contact Address" required="required">

                                </div>
                            </div>
                        </div>


                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" name="addSUBEMPLOYE">ADD SUB EMPLOYEE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
            </div>

        </div>
    </div>
</div>

<div id="addCONTRACTORcONTACTS" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">EDIT SUBCONTRACTOR</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="card-body">

                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Company Name</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Compname" placeholder="Company Name" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">DEPARTMENT NAME </label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <select id="department" class="form-control input-sm " name="">
                                                        <option value="">Select DEPARTMENT ...</option>
                                                        <option value="CCTV">Finance</option>
                                                        <option value="Close Protection">Operations</option>
                                                        <option value="Door Supervision">Other</option>

                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">CONTACT NAME</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Compname" placeholder="Contact Person Name" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">CONTACT NUMBER</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="" placeholder="Contact Person Number" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">FAX</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Compname" placeholder="Fax" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">EMAIL</label>

                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="Compname" placeholder="example@mail.com" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" name="addCONTRACTORcONTACTS">SAVE RECORD</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{

    <script>
        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });

        $("#approved").DataTable();
        $("#unApproved").DataTable();
        $("#subContacts").DataTable();


        $("#vat").click(function () {
            $("#vat_rgstr").toggleClass("hide");
        });
        $('#SIA_type').select2({
            selectOnClose: true,
            width: '100%'
        });

        $('#invoice_terms').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#department').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#gg_search').select2({
            selectOnClose: true,
            width: '100%'

        });
    </script>
}


