﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutSubContractors.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Un-Approved Sub Employees</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Un-Approved Sub Employees</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-purple btn-square">SEARCH</button>
                    <a href="/Employee/List" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive p-3">
                        <table id="employees-list" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">PIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">FORENAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">MIDDLE NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SURNAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">LEAVING DATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SIA NUMBER  </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">EXPIRY</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
     
    </script>
}