﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Events</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Event List</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-square" data-toggle="modal" data-target="#addEvent">ADD EVENT</button>
                    <button type="button" class="btn btn-purple btn-square" data-toggle="modal" data-target="#eventSearch">SEARCH EVENT</button>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0 ">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive p-3">
                        <table id="eventListTable" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-12 ">EVENT ID  </th>
                                    <th scope="col" class="border-0 text-uppercase font-12">EVENT DATE</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">EVENT TIME</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">EVENT TYPE</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">EVENT DESCRIPTION </th>
                                    <th scope="col" class="border-0 text-uppercase font-12">CLIENT NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">SITE NAMEx</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">STAFF</th>
                                    <th scope="col" class="border-0 text-uppercase font-12">CREATED BY</th>

                                    <th scope="col" class="border-0 text-uppercase font-12">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>8</td>
                                    <td>
                                        04-03-2020
                                    </td>
                                    <td>	01:00</td>

                                    <td>Lateness</td>
                                    <td>asdasd asd asd</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>

                                    <td>Super admin</td>


                                    <td>
                                        <button class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="modal" data-target="#eventDetails" title="View Event Details">
                                            <i class="fas fa-list"></i>
                                        </button>



                                        <button type="button" data-empid="1" class="btn btn-outline-info btn-circle btn-lg btn-circle " data-target="#editEvent" data-toggle="modal" title="Edit Event"><i class="ti-pencil"></i> </button>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="addEvent" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade large">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD EVENT</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12 pb-1">

                            <div class="row">

                                <div class="col-12 col-sm-6 form-group">


                                    <label for="fname" class="text-right control-label col-form-label">Event Date </label>
                                    <input type="text" class="form-control datepicker" value="" placeholder="Event Date" required="required">

                                </div>
                                <div class="col-12 col-sm-6 form-group">


                                    <label for="fname" class="text-right control-label col-form-label">Event Time </label>
                                    <div class="input-group-append">

                                        <input type="time" class="form-control" placeholder="" aria-label="" aria-describedby="">

                                        <span class="input-group-text fas fa-clock" id="basic-addon2"></span>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 pb-1">

                            <div class="row">
                                <label class="col-12  control-label mb-1">Event Type</label>
                                <div class="col-12 ">

                                    <select class="form-control input-sm w-100 select2Element" name="" id="site_search">
                                        <option value="">Select Event Type</option>
                                        <option value="1">Lateness</option>
                                        <option value="2">Blow out</option>
                                        <option value="3">Complaint</option>
                                        <option value="4">Incident</option>
                                        <option value="5">Accident.</option>

                                    </select>
                                </div>
                            </div>

                        </div> <div class="col-sm-12 pb-1">

                            <div class="row">
                                <label class="col-12 col-sm-12 control-label mb-1">Event Detail</label>
                                <div class="col-12">
                                    <textarea class="form-control"></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 pb-1">

                            <div class="row">


                                <div class="col-12 form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="checkBox">
                                        <label class="custom-control-label font-12" id="connect_EmpSub" for="checkBox"> Connect Event to Employee OR a Subcontractor?</label>
                                    </div>

                                </div>
                                <div class="col-12 form-group hide" id="connectEvent_EmpSub">
                                    <select class="form-control input-sm w-100 select2Element " id="connectEvent_EmpSub_select" name="">
                                        <option value="">Select Employee or Subcontractor</option>
                                        <option value="1">Employee</option>
                                        <option value="2">Subcontractor</option>

                                    </select>
                                </div>
                            </div>

                            <div class="row hide" id="eventEmployees">

                                <div class="col-12 form-group">
                                    <label id="" class="ml-2">Employees</label>
                                </div>
                                <div class="col-12 form-group ">
                                    <select class="form-control input-sm w-100 select2Element eventEmployees_Select " id="" name="">
                                        <option value="">Select Employee</option>
                                        <option value="1">Adam</option>
                                        <option value="2">A Daib</option>

                                    </select>
                                </div>

                            </div>

                            <div class="row hide" id="eventSubContractor">

                                <div class="col-2 form-group">
                                    <label id="" class="ml-2">Subcontractor</label>
                                </div>
                                <div class="col-4 form-group ">
                                    <select class="form-control input-sm w-100 select2Element eventEmployees_Select " id="" name="">
                                        <option value="">Select Subcontractor</option>
                                        <option value="1">Adam</option>


                                    </select>
                                </div>

                                <div class="col-2 form-group">
                                    <label id="" class="ml-2">Subemployee</label>
                                </div>
                                <div class="col-4 form-group ">
                                    <select class="form-control input-sm w-100 select2Element eventEmployees_Select " id="" name="">
                                        <option value="">Select Subemployee</option>


                                    </select>
                                </div>

                            </div>



                            <div class="row">
                                <div class="col-12 form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input ml-2" id="siteCheckbox">
                                        <label class="custom-control-label font-12" id="site" for="siteCheckbox">  Connect Event to a site?</label>
                                    </div>

                                </div>
                                <div class="col-12 form-group hide" id="eventSite">
                                    <select class="form-control input-sm w-100 select2Element" name="" id="eventsite_select">
                                        <option value="">Select Site Type</option>
                                        <option value="1">EE Acton</option>
                                        <option value="2">Sevenoaks Workstyle </option>
                                        <option value="3">B T Colombo House</option>
                                        <option value="4">B T Fraday Buildings</option>
                                        <option value="5">Cambridge Trunk</option>
                                        <option value="5">BT Sport</option>
                                        <option value="5">BT Tower</option>
                                        <option value="5">Cambridge Trunk</option>

                                    </select>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">SEARCH</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="eventSearch" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal large fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SEARCH EVENT</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label pl-5 mb-1">Client </label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100 select2Element" name="" id="client_search">
                                            <option value="">Select Client</option>
                                            <option value="1">Angelside Facilities</option>
                                            <option value="2">Expendious Services</option>
                                            <option value="2">Frankies Wine Bar</option>
                                            <option value="2">OXM Security</option>
                                            <option value="2">Regency Security Group LTD.</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 pl-5 control-label mb-1">Event Type</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100 select2Element" name="" id="eventSearch_type">
                                            <option value="">Select Event Type</option>
                                            <option value="1">Lateness</option>
                                            <option value="2">Blow out</option>
                                            <option value="3">Complaint</option>
                                            <option value="4">Incident</option>
                                            <option value="5">Accident.</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 pl-5 control-label mb-1">Site</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100 select2Element" name="" id="siteName_search">
                                            <option value="">Select Site </option>
                                            <option value="1">EE Acton</option>
                                            <option value="2">Sevenoaks Workstyle </option>
                                            <option value="3">B T Colombo House</option>
                                            <option value="4">B T Fraday Buildings</option>
                                            <option value="5">Cambridge Trunk</option>
                                            <option value="5">BT Sport</option>
                                            <option value="5">BT Tower</option>
                                            <option value="5">Cambridge Trunk</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 pl-5 control-label mb-1">Employee OR Sub.</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100 select2Element" name="" id="employeeORsubconstructor empORsubcontractorSearch">
                                            <option value="">Select Employee or Subcontractor</option>
                                            <option value="1" id="">Employee</option>
                                            <option value="2" id="">Sub Contractor</option>


                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">SEARCH</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="eventDetails" class="modal fade large">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">EVENT DETAILS</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="card-body">

                        <div class=" row">

                            <div class="col-sm-12 pb-1">

                                <div class="row">

                                    <div class="col-12 col-sm-2 form-group">


                                        <label for="fname" class="text-right control-label col-form-label">Event Date </label>

                                    </div>
                                    <div class="col-12 col-sm-4 form-group">
                                        <input type="text" class="form-control datepicker" value="04-03-2020" disabled placeholder="" required="required">

                                    </div>
                                    <div class="col-12 col-sm-2 form-group">
                                        <label for="fname" class="text-right control-label col-form-label ml-2">Event Time </label>

                                    </div>
                                    <div class="col-12 col-sm-4 form-group">



                                        <div class="input-group-append">

                                            <input type="text" class="form-control" value="01:00 am" disabled aria-label="" aria-describedby="">

                                            <span class="input-group-text fas fa-clock" id="basic-addon2"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Event Type</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control datepicker" value="Lateness" disabled placeholder="" required="required">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Event Detail</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <textarea disabled class="form-control">asdasd asd asd</textarea>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Site</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="" disabled placeholder="" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Employee</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="" disabled placeholder="" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Action Taken</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <textarea disabled class="form-control"></textarea>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Action Date</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="" disabled placeholder="" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Action Time</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="" disabled placeholder="" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="form-group">
                                                    <label for="fname" class="text-right control-label col-form-label">Action User</label>

                                                </div>
                                            </div>
                                            <div class="col-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" id="" disabled placeholder="" required="required">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div id="editEvent" class="modal fade large">
    <div class="modal-dialog ">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">EDIT EVENT</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="card-body">
                        <div class=" row">

                            <div class="col-sm-12 pb-1">

                                <div class="row">

                                    <div class="col-12 col-sm-2 form-group">


                                        <label for="fname" class="text-right control-label col-form-label">Event Date </label>

                                    </div>
                                    <div class="col-12 col-sm-4 form-group">
                                        <input type="text" class="form-control datepicker" value="04-03-2020" placeholder="Event Date" required="required">

                                    </div>
                                    <div class="col-12 col-sm-2 form-group">
                                        <label for="fname" class="text-right control-label col-form-label ">Event Time </label>

                                    </div>
                                    <div class="col-12 col-sm-4 form-group">



                                        <div class="input-group-append">

                                            <input type="text" class="form-control" value="01:00 am" placeholder="Event Time" aria-label="" aria-describedby="">

                                            <span class="input-group-text fas fa-clock" id="basic-addon2"></span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                        <div class=" row">
                            <div class="col-12 col-sm-2">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">Event Type </label>

                                </div>
                            </div>
                            <div class="col-12 col-sm-10">
                                <div class="form-group">
                                    <select id="department" class="form-control select2Element input-sm " name="">
                                        <option value="">Select Event Type</option>
                                        <option value="1" selected>Lateness</option>
                                        <option value="2">Blow out</option>
                                        <option value="3">Complaint</option>
                                        <option value="4">Incident</option>
                                        <option value="5">Accident.</option>

                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-2">
                                <div class="form-group">
                                    <label for="fname" class="text-right control-label col-form-label">Event Details</label>

                                </div>
                            </div>
                            <div class="col-12 col-sm-10">
                                <div class="form-group">
                                    <textarea class="form-control">asdasd asd asd</textarea>

                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-12 col-sm-2">

                                <label for="fname" class="text-right control-label col-form-label">Sites</label>


                            </div>
                            <div class="col-12 col-sm-10">


                                <select class="form-control input-sm w-100 select2Element" name="" id="eventsite_select">
                                    <option value="">Select Site Type</option>
                                    <option value="1">EE Acton</option>
                                    <option value="2">Sevenoaks Workstyle </option>
                                    <option value="3">B T Colombo House</option>
                                    <option value="4">B T Fraday Buildings</option>
                                    <option value="5">Cambridge Trunk</option>
                                    <option value="5">BT Sport</option>
                                    <option value="5">BT Tower</option>
                                    <option value="5">Cambridge Trunk</option>

                                </select>

                            </div>
                        </div>
                        <div class="row form-group">

                            <div class="col-12 col-sm-2 ">
                                <label class="ml-0 " id="connect_EmpSub_Edit" for="">Employee OR a Subcontractor?</label>
                            </div>

                            <div class="col-12 col-sm-10 form-group " id="connectEvent_EmpSub_Edit">
                                <select class="form-control input-sm w-100 select2Element " id="connectEvent_EmpSub_select_Edit" name="">
                                    <option value="">Select Employee or Subcontractor</option>
                                    <option value="1">Employee</option>
                                    <option value="2">Subcontractor</option>

                                </select>
                            </div>
                        </div>

                        <div class="row hide" id="eventEmployees_Edit">

                            <div class="col-12 col-sm-2 form-group">
                                <label id="" class="">Employees</label>
                            </div>
                            <div class="col-12 col-sm-10 form-group ">
                                <select class="form-control input-sm w-100 select2Element eventEmployees_Select " id="" name="">
                                    <option value="">Select Employee</option>
                                    <option value="1">Adam</option>
                                    <option value="2">A Daib</option>

                                </select>
                            </div>

                        </div>

                        <div class="row hide" id="eventSubContractor_Edit">

                            <div class="col-2 form-group">
                                <label id="" class="">Subcontractor</label>
                            </div>
                            <div class="col-4 form-group ">
                                <select class="form-control input-sm w-100 select2Element eventEmployees_Select " id="" name="">
                                    <option value="">Select Subcontractor</option>
                                    <option value="1">Adam</option>


                                </select>
                            </div>

                            <div class="col-2 form-group">
                                <label id="" class="ml-2">Subemployee</label>
                            </div>
                            <div class="col-4 form-group ">
                                <select class="form-control input-sm w-100 select2Element eventEmployees_Select " id="" name="">
                                    <option value="">Select Subemployee</option>


                                </select>
                            </div>

                        </div>
                        <div class="row justify-content-end">

                            <div class="col-6 col-sm-2 ">
                                <button type="submit" class="btn btn-info" name="" id="showPannel"><span class="fas fa-plus-circle"></span></button>
                                <button type="button" class="btn btn-orange" id="hidePannel"><i class="fas fa-times-circle text-white"></i></button>
                            </div>

                        </div>
                        <div class=" mt-3" ></div>
                        <div class="pannelHideShow hide">

                            <div class="row">
                                <div class="col-12 col-sm-2">
                                    <div class="form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Action Taken</label>

                                    </div>
                                </div>
                                <div class="col12 col-sm-10">
                                    <div class="form-group">
                                        <textarea s class="form-control" required></textarea>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-sm-2">
                                    <div class="form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Action Date</label>

                                    </div>
                                </div>
                                <div class="col-12 col-sm-10">
                                    <div class="form-group">
                                        <input type="text" class="form-control datepicker" id="" placeholder="" required="required">

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 col-sm-2">
                                    <div class="form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Action Time</label>

                                    </div>
                                </div>
                                <div class="col-12 col-sm-10">
                                    <div class="form-group">
                                        <input type="time" class="form-control" id="" placeholder="" required="required">

                                    </div>
                                </div>
                            </div>

                                            <div class="row form-group">
                                                <div class="col-12 col-sm-2">
                                                
                                                        <label for="fname" class="text-right control-label col-form-label">Action User</label>

                                                </div>
                                                <div class="col-12 col-sm-10">
                                                   
                                                        <input type="text" class="form-control" id="" value="Super Admin" placeholder="" required="required">

                                                    
                                                </div>
                                            </div>
                                  



                        </div>

                        </div>
                </form>
            </div>

            <div class="modal-footer">


                <button type="submit" class="btn btn-success" data-dismiss="modal" name="">UPDATE</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="">CLOSE</button>

            </div>
        </div>
    </div>
</div>


@section MainScripts{

    <script>
        $(document).ready(function () {
            $("#hidePannel").click(function () {
                $(".pannelHideShow").hide();
            });
            $("#showPannel").click(function () {
                $(".pannelHideShow").show();
            });
        });


        $(function () {
            $("#eventListTable").DataTable();
            $('#sitename_search').select2({
                selectonclose: true,
                width: '100%'
            });
            $('#client_search').select2({
                selectonclose: true,
                width: '100%'
            });
            $('#site_search').select2({
                selectonclose: true,
                width: '100%'
            });
            $('#employeeorsubconstructor').select2({
                selectonclose: true,
                width: '100%'
            });
            $('#eventsite_select').select2({
                selectonclose: true,
                width: '100%'
            });
            $('#eventsearch_type').select2({
                selectonclose: true,
                width: '100%'
            });
            $('#employeeORsubconstructor').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#connectEvent_EmpSub_select').select2({
                selectOnClose: true,
                width: '100%'
            }).on("select2:selecting", function (e) {

              

                if (e.params.args.data.text.toLowerCase() == "employee") {
                    $('#eventEmployees').removeClass('hide');
                    $('#eventSubContractor').addClass('hide');
                }
                else if (e.params.args.data.text.toLowerCase() == "subcontractor") {
                    $('#eventEmployees').addClass('hide');
                    $('#eventSubContractor').removeClass('hide');
                }

                });
            $('#connectEvent_EmpSub_select_Edit').select2({
                selectOnClose: true,
                width: '100%'
            }).on("select2:selecting", function (e) {


                if (e.params.args.data.text.toLowerCase() == "employee") {
                    $('#eventEmployees_Edit').removeClass('hide');
                    $('#eventSubContractor_Edit').addClass('hide');
                }
                else if (e.params.args.data.text.toLowerCase() == "subcontractor") {
                    $('#eventEmployees_Edit').addClass('hide');
                    $('#eventSubContractor_Edit').removeClass('hide');
                }

            });
            $('.datepicker').datepicker({
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0",
                weekStart: 1,
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });
            $("#connect_EmpSub").click(function () {
                $("#connectEvent_EmpSub").toggleClass("hide");
            });
            $("#connect_EmpSub_Edit").click(function () {
                $("#connectEvent_EmpSub_Edit").toggleClass("hide");
            });
            $("#site").click(function () {
                $("#eventSite").toggleClass("hide");
            });


            $('.select2Element').select2({
                selectonclose: true,
                width: '100%'
            });
        });
    </script>
}