﻿@inject Management.Infrastructure.Security.Identity.UserManager usermaneger;

@{
    Layout = "_Layout";
    var loggedUser = usermaneger.GetUserAsync(User).Result;
    var loggedUserRole = usermaneger.GetRolesAsync(loggedUser).Result;
}
@section MainHead{
    @RenderSection("Head", required: false)
}



<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item  @(Url.Action().Contains("/Employee/Add") ? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/Employee/Add" aria-expanded="false">
                        <i class="icon-user-follow"></i>
                        <span class="hide-menu">ADD</span>
                    </a>

                </li>
                <li class="sidebar-item @(Url.Action().Contains("/Employee/List")? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/Employee/List" aria-expanded="false">
                        <i class="icon-list"></i>
                        <span class="hide-menu">LIST</span>
                    </a>

                </li>
                <li class="sidebar-item @(Url.Action().Contains("/Employee/Trash")? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/Employee/Trash" aria-expanded="false">
                        <i class="icon-trash"></i>
                        <span class="hide-menu">TRASH</span>
                    </a>

                </li>
                <li class="sidebar-item @(Url.Action().Contains("/Employee/Guard/Groups")? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/Employee/Guard/Groups" aria-expanded="false">
                        <i class="icon-grid"></i>
                        <span class="hide-menu">GUARD GROUPS</span>
                    </a>

                </li>
                <li class="sidebar-item @(Url.Action().Contains("/Employee/Holidays") ? "selected" : string.Empty)">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-layers"></i>
                        <span class="hide-menu">HOLIDAYS</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Employee/Holidays/StaffHolidays" class="sidebar-link  @(Url.Action().Contains("/Employee/Holidays/StaffHolidays") ? "active" : string.Empty)">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Staff Holidays</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Employee/Holidays/MonthlyCalender" class="sidebar-link @(Url.Action().Contains("/Employee/Holidays/MonthlyCalender") ? "active" : string.Empty)">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Holidays Monthly Calender</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Employee/Holidays/CurrentRequests" class="sidebar-link @(Url.Action().Contains("/Employee/Holidays/CurrentRequests") ? "active" : string.Empty)">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Current Holidays Requests</span>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="sidebar-item @(Url.Action().Contains("/Employee/HR/") ? "selected" : string.Empty)">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                        <i class="icon-people"></i>
                        <span class="hide-menu">HR</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level">
                        <li class="sidebar-item">
                            <a href="/Employee/HR/OnlineApplication" class="sidebar-link @(Url.Action().Contains("/Employee/HR/OnlineApplication") ? "active" : string.Empty)">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Online Application</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Employee/HR/Documents" class="sidebar-link @(Url.Action().Contains("/Employee/HR/Documents") ? "active" : string.Empty)">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Documents</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/Employee/HR/ScreeningAndVetting" class="sidebar-link @(Url.Action().Contains("/Employee/HR/ScreeningAndVetting") ? "active" : string.Empty)">
                                <i class="mdi mdi-adjust"></i>
                                <span class="hide-menu">Screening & Vetting</span>
                            </a>
                        </li>


                    </ul>
                </li>


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
@RenderBody()

@section MainScripts{
    @RenderSection("Scripts", required: false)
}
