﻿@inject Management.Infrastructure.Security.Identity.UserManager usermaneger;

@{
    Layout = "_Layout";
    var loggedUser = usermaneger.GetUserAsync(User).Result;
    var loggedUserRole = usermaneger.GetRolesAsync(loggedUser).Result;
}
@section MainHead{
    @RenderSection("Head", required: false)
}



<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item  @(Url.Action().Contains("/SubContractors/Add") ? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/SubContractors/Add" aria-expanded="false">
                        <i class="icon-user-follow"></i>
                        <span class="hide-menu">ADD</span>
                    </a>

                </li>
                <li class="sidebar-item @(Url.Action().Contains("/SubContractors/List")? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/SubContractors/List" aria-expanded="false">
                        <i class="icon-list"></i>
                        <span class="hide-menu">LIST</span>
                    </a>

                </li>
                <li class="sidebar-item @(Url.Action().Contains("/SubContractors/Trash")? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/SubContractors/Trash" aria-expanded="false">
                        <i class="icon-trash"></i>
                        <span class="hide-menu">TRASH</span>
                    </a>

                </li>
                <li class="sidebar-item @(Url.Action().Contains("/SubContractors/UnApprovedSubStaff")? "selected" : string.Empty)">
                    <a class="sidebar-link waves-effect waves-dark" href="/SubContractors/UnApprovedSubStaff" aria-expanded="false">
                        <i class="icon-list"></i>
                        <span class="hide-menu">UN APPROVED SUB STAFF</span>
                    </a>

                </li>
                
                


            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
@RenderBody()

@section MainScripts{
    @RenderSection("Scripts", required: false)
}
