﻿@inject Management.Infrastructure.Security.Identity.UserManager usermaneger;

@{
    var loggedUser = usermaneger.GetUserAsync(User).Result;
    var loggedUserRole = usermaneger.GetRolesAsync(loggedUser).Result.FirstOrDefault();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <title>@ViewData["Title"] - SSG</title>
    <!-- chartist CSS -->
    <environment include="Development">
        <link rel="stylesheet" href="/css/developer.style.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
    </environment>
    <environment include="Production">
        <link rel="stylesheet" href="/css/style.min.css" />
    </environment>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    @*@Html.Partial("~/Views/Shared/_FineUploaderTemplate1.cshtml")*@
    @RenderSection("MainHead", required: false)

</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand d-block d-md-none" href="/">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->

                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                            <img src="/images/logo_white.png" alt="logo" width="90" />
                        </span>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>

                </div>
                <div class="navbar-collapse collapse m-0" id="navbarSupportedContent">
                    <ul class="navbar-nav float-left mr-auto topnavigations">
                        <li class="nav-item border-right">
                            <a class="nav-link navbar-brand d-none d-md-block" href="/">
                                <!-- Logo icon -->
                                <b class="logo-icon">
                                    <!-- Image Here -->
                                </b>
                                <!--End Logo icon -->
                                <!-- Logo text -->
                                <span class="logo-text">
                                    <img src="/images/logo_white.png" alt="logo" width="90" />
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/">
                                <span>
                                    <i class="icon-speedometer"></i>
                                    <span class="d-block text-uppercase">Dashboard</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center dropdown-hover">
                            <a class="nav-link link" href="/">
                                <span>
                                    <i class="icon-people"></i>
                                    <span class="d-block text-uppercase">Workforce</span>
                                </span>
                            </a>
                            <ul class="dropdown-content-hover">
                                <li>
                                    <div class="list-group">
                                        <!-- list item-->
                                        <a href="/Employee/List" title="Employee Manager" class="list-group-item">
                                            <div class="media-box">
                                                <div class="pull-left mr-2 img-box">
                                                    <em class="fa fa-users text-success"></em>
                                                </div>
                                                <div class="media-box-body clearfix text-left">
                                                    <span class="pt-2 d-inline-block" style="font-size:85% !important">EMPLOYEES</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- list item-->
                                        <a href="/SubContractors/List" title="Subcontractor Manager" class="list-group-item">
                                            <div class="media-box">
                                                <div class="pull-left mr-2 img-box">
                                                    <em class="fa fa-sitemap text-info"></em>
                                                </div>
                                                <div class="media-box-body clearfix text-left">
                                                    <span class="pt-2 d-inline-block" style="font-size:85% !important">SUBCONTRACTORS</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/Client/List">
                                <span>
                                    <i class="icon-layers"></i>
                                    <span class="d-block text-uppercase">Clients</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/Site/List">
                                <span>
                                    <i class="icon-map"></i>
                                    <span class="d-block text-uppercase">Sites</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/">
                                <span>
                                    <i class="icon-calender"></i>
                                    <span class="d-block text-uppercase">Roster</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/Call/List/">
                                <span>
                                    <i class="icon-call-in"></i>
                                    <span class="d-block text-uppercase">Calls</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/Event/List/">
                                <span>
                                    <i class="icon-social-dropbox"></i>
                                    <span class="d-block text-uppercase">Events</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center dropdown-hover">
                            <a class="nav-link link" href="/">
                                <span>
                                    <i class="icon-chart"></i>
                                    <span class="d-block text-uppercase">Finance</span>
                                </span>
                            </a>
                            <ul class="dropdown-content-hover">
                                <li>
                                    <div class="list-group">
                                        <!-- list item-->
                                        <a href="/Finance/ManageInvoices" title="Employee Manager" class="list-group-item">
                                            <div class="media-box">
                                                <div class="pull-left mr-2 img-box">
                                                    <em class="fas fa-file-pdf text-success"></em>
                                                </div>
                                                <div class="media-box-body clearfix text-left">
                                                    <span class="pt-2 d-inline-block" style="font-size:85% !important">INVOICE</span>
                                                </div>
                                            </div>
                                        </a>
                                        <!-- list item-->
                                        <a href="" title="Subcontractor Manager" class="list-group-item">
                                            <div class="media-box">
                                                <div class="pull-left mr-2 img-box">
                                                    <em class="fas fa-money-bill text-warning"></em>
                                                </div>
                                                <div class="media-box-body clearfix text-left">
                                                    <span class="pt-2 d-inline-block" style="font-size:85% !important">PAYROLL</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/">
                                <span>
                                    <i class="icon-docs"></i>
                                    <span class="d-block text-uppercase">Reports</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/">
                                <span>
                                    <i class="icon-user-following"></i>
                                    <span class="d-block text-uppercase">Permissions</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item  text-center">
                            <a class="nav-link link" href="/">
                                <span>
                                    <i class="icon-settings"></i>
                                    <span class="d-block text-uppercase">Settings</span>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item dropdown text-center">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="/images/profile.png" alt="user" class="rounded-circle" width="31">
                                <span class="ml-2 user-text font-medium">@loggedUser.FirstName</span>
                                <span class="fas fa-angle-down ml-2 user-text"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <div class="d-flex no-block align-items-center p-3 mb-2 border-bottom">
                                    <div class=""><img src="/images/profile.png" alt="user" class="rounded" width="80"></div>
                                    <div class="ml-2">
                                        <h4 class="mb-0">@loggedUser.FirstName @loggedUser.LastName</h4>
                                        <p class=" mb-0 text-muted"> @loggedUser.Email</p>
                                        <a href="/@loggedUserRole/Profile/@loggedUser.Id" class="btn btn-sm btn-danger text-white mt-2 btn-rounded">View Profile</a>
                                    </div>
                                </div>
                                @*<a class="dropdown-item" href="/"><i class="ti-user mr-1 ml-1"></i> My Profile</a>*@
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Account/Logout"><i class="fa fa-power-off mr-1 ml-1"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                  
                </div>
            </nav>
        </header>
        @RenderBody()
    </div>
    <div class="modal fade" id="monoGramModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">
                        Upload Monogram
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form>
                    <!-- Modal body -->
                    <div class="modal-body">

                        <div class="row">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div id="fine-uploader-manual-trigger"></div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer pt-2">
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">

                                <button type="button" class="btn btn-danger rounded-0" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <div class="col col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <button type="button" class="disabledBtn btn btn-success rounded-0" id="saveMonoGram">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/js/script.min.js"></script>
    <script src="/js/jspostcode.js"></script>

    <script>
        $(document).ready(function () {
            $("[data-target=tooltip]").tooltip();
        });
        $('#calendar').fullCalendar('option', 'height', 650);
        const smallswal = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 5000
        });
        function getHoursDifference(dt1, dt2) {

            var diff = (dt2.getTime() - dt1.getTime()) / 1000;
            diff /= (60 * 60);
            return Math.abs(Math.round(diff));

        }
        hoursCoveredInterval = '';
        shiftStatusInterval = '';
        totalFinishedHours = 0;
        function getFinishedHours(dt1, dt2, element) {
            var diff = 0;
            var nowDate = new Date();
            var status = "";
            if ((nowDate.getTime() - dt1.getTime()) > 0 && (nowDate.getTime() - dt2.getTime()) < 0) {
                //mean the date is in between start and end
                var dt = dt1;
                var dt0 = nowDate;
                diff = (dt0.getTime() - dt.getTime()) / 1000;

                var currentShiftStatus = $(element).parent().find("[data-currentstatus]").data("currentstatus");
                if (currentShiftStatus == "done") {
                    status = `<div class="badge badge-warning badge-pill text-white "><i class="fas fa-spinner fa-spin"></i> In-Progress</div>`;
                } else {
                    status = `<div class="badge badge-danger badge-pill "><i class="fas fa-exclamation-triangle"></i> Employee is not on site.</div>`;
                }

            }
            else if (((dt2.getTime() - dt1.getTime()) > 0) && ((dt2.getTime() - nowDate.getTime()) < 0)) {
                //mean full hours completed.
                diff = (dt2.getTime() - dt1.getTime()) / 1000;
                var currentShiftStatus = $(element).parent().find("[data-currentstatus]").data("currentstatus");
                if (currentShiftStatus == "done") {
                    status = `<div class="badge badge-success badge-pill "><i class="fas fa-check"></i> Completed</div>`;
                } else {
                    status = `<div class="badge badge-warning badge-pill text-white "><i class="fas fa-exclamation-triangle"></i> Time ended</div>`;
                }

            }

            else if ((dt1.getTime() - nowDate.getTime()) > 0) {
                //mean date ahead, yet to come.
                diff = 0;
                status = `<div class="badge badge-info badge-pill "><i class="fas fa-exclamation-circle"></i> Shift will start on time.</div>`;

            }

            diff /= (60 * 60);
            totalFinishedHours += Number((diff).toFixed(2));

            return (diff).toFixed(2) + " hrs " + status;

        }
        function countDown(date) {

            // Set the date we're counting down to
            var countDownDate = new Date(date).getTime();

            // Update the count down every 1 second
            if ($("#demo").length > 0) {
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24 * days)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Output the result in an element with id="demo"
                    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";

                    // If the count down is over, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "Hours Completed";
                    }
                }, 1000);
            }
        }

        function calculateHoursCovered(placeToCalculteFrom) {
            var startDates = $(`${placeToCalculteFrom} [data-startdate]`);
            clearInterval(hoursCoveredInterval);

            hoursCoveredInterval = setInterval(function () {
                totalFinishedHours = 0;
                startDates.each(function (i, e) {

                    var dt1 = new Date(e.dataset.startdate);
                    var dt2 = new Date(e.dataset.enddate);

                    var hoursCoveredTillNow = getFinishedHours(dt1, dt2, e);
                    e.innerHTML = hoursCoveredTillNow;
                });

                $(placeToCalculteFrom + " .TotalFinishedHours").text(totalFinishedHours.toFixed(2));
            }, 2000);
        }
    </script>

    @RenderSection("MainScripts", required: false)


</body>
</html>
