﻿@inject Management.Infrastructure.Security.Identity.UserManager usermaneger;

@{
    Layout = "_Layout";
    var loggedUser = usermaneger.GetUserAsync(User).Result;
    var loggedUserRole = usermaneger.GetRolesAsync(loggedUser).Result;
}
@section MainHead{
    @RenderSection("Head", required: false)
}


    
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    @*<li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark profile-dd" href="javascript:void(0)" aria-expanded="false">
                            <img src="/images/profile.png" class="rounded-circle ml-2" width="30">
                            <span class="hide-menu">@loggedUser.FirstName @loggedUser.LastName </span>
                        </a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item">
                                <a href="/Client/Profile/@loggedUser.Id" class="sidebar-link">
                                    <i class="ti-user"></i>
                                    <span class="hide-menu"> My Profile </span>
                                </a>
                            </li>

                            <li class="sidebar-item">
                                <a href="/Account/Logout" class="sidebar-link">
                                    <i class="fas fa-power-off"></i>
                                    <span class="hide-menu"> Logout </span>
                                </a>
                            </li>
                        </ul>
                    </li>*@
                    @*<li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark" href="/" aria-expanded="false">
                            <i class="mdi mdi-av-timer"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>

                    </li>*@
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark" href="/Client/Add/" aria-expanded="false">
                            <i class="icon-user-follow"></i>
                            <span class="hide-menu">Add</span>
                        </a>

                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark" href="/Client/List/" aria-expanded="false">
                            <i class="icon-list"></i>
                            <span class="hide-menu">View Clients</span>
                        </a>

                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark" href="/Client/Trash/" aria-expanded="false">
                            <i class="icon-trash"></i>
                            <span class="hide-menu">Trash Clients</span>
                        </a>

                    </li>
                    <div class="devider"></div>

                    @*<li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/Account/Logout" aria-expanded="false">
                            <i class="mdi mdi-adjust text-info"></i>
                            <span class="hide-menu">Log Out</span>
                        </a>
                    </li>*@
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    @RenderBody()

@section MainScripts{ 
    @RenderSection("Scripts", required: false)
}
