﻿
@{
    
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Employee @ViewData["Title"]</h5>
            <span>@ViewData["SubTitle"]</span>
        </div>

        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right ">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/Employee/List">Employee List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employee @ViewData["Title"]</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 ">
            <nav aria-label="breadcrumb" class=" mt-2">
                <div class="pull-right">
                    <a href="/Employee/List" type="button" class="btn btn-info btn-square"> Back</a>
                    
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper ml-md-6 ">
    <div class="page-content container-fluid">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <span href="#" class="list-group-item" style="color:#3c8dbc">
                        <b>Application Form</b>
                    </span>
                    <a href="/Employee/Edit/BasicInfo/1" class=" list-group-item">
                        <i class="fa fa-info-circle"></i> Basic Information
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    <a href="/Employee/Edit/PayRollInfo/1" class=" form-basic-active  list-group-item">
                        <i class="fa fa-credit-card"></i> Payroll Information
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    <a href="/Employee/Edit/Addresses/1" class=" list-group-item">
                        <i class="icon-location-pin"></i> Addresses
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    <a href="/Employee/Edit/Trainings/1" class=" list-group-item">
                        <i class="fa fa-certificate"></i> Trainings
                        <small class="pull-right"><span style="color:green" class="icon-check"></span></small>
                    </a>
                    <a href="/Employee/Edit/EmployementHistory/1" class=" list-group-item">
                        <i class="icon-briefcase"></i> Employment History
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    <a href="/Employee/Edit/Qualifications/1" class=" list-group-item">
                        <i class="icon-graduation"></i> Qualifications
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    
                    <a href="/Employee/Edit/PersonalReferences/1" class=" list-group-item">
                        <i class="fa fa-tty"></i> Personal References
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    <a href="/Employee/Edit/OccupationalHealthSection/1" class=" list-group-item">
                        <i class="fa fa-stethoscope"></i> Occupational Health Section
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    <a href="/Employee/Edit/GDPRNotice/1" class=" list-group-item">
                        GDPR Notice
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                    <a href="/Employee/Edit/Policy&Declaration/1" class=" list-group-item">
                        <i class="fa fa-sign-in"></i> Policy and Declaration
                        <small class="pull-right"><span style="color:red" class="icon-close"></span></small>
                    </a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>

            <!-- Column -->
            <!-- Row -->
        </div>

        <!--ROW-->
    </div>
</div>




@section Scripts{
    @RenderSection("EditScripts",false);
}