﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Add Employee</h5>
        </div>

        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right ">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Employee</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 ">
            <nav aria-label="breadcrumb" class=" mt-2">
                <div class="pull-right">
                    <a href="/Employee/List" type="button" class="btn btn-info btn-square"> Back</a>
                    
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0 ml-5 ">
    <div class="page-content container-fluid">

        <!-- Row -->
        <div class="row  mb-0 justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="card">

                    <form class="form-horizontal">
                        <div class="card-body">

                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Staff Pin</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="fname" placeholder="Assign Pin to the Staff" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="lname" class="col-sm-3 text-right control-label col-form-label">Full Name</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="fname" placeholder="Forename" required="required">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="mname" placeholder="Middle Name">
                                </div>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" id="lname" placeholder="Sur Name " required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Gender</label>
                                <div class="col-12 col-sm-9">
                                    <select id="gender_search" class="form-control input-sm " name="employee_gender">
                                        <option value="">Select gender</option>
                                        <option value="Non-operational">Female</option>
                                        <option value="Operational">Male</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Date of Birth</label>
                                <div class="col-sm-9 ml-auto">
                                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="dob" placeholder="Date of Birth" required="required">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Contact Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="contact" placeholder="Contact Number" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 text-right control-label col-form-label">Employeement Type</label>
                                <div class="col-12 col-sm-9">
                                    <select id="employeement_type_search" class="form-control input-sm " name="employee_type">
                                        <option value="">Select Type</option>
                                        <option value="Non-operational">Admins</option>
                                        <option value="Operational">Operational</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group mb-0 text-right">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <!-- End Row -->
    </div>
</div>




@section Scripts{
    <script>
        $(function () {


            $('.datepicker').datepicker({
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0",
                weekStart: 1,
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });



            $('#employeement_type_search').select2({
                selectOnClose: true,
                width: '100%'
            });
         



            

            $('#gender_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#gg_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#branch_change_search').select2({
                selectOnClose: true,
                width: '100%'
            });
        });
    </script>
}