﻿
@{
    ViewData["Title"] = "Address Information";
    Layout = "~/Views/Employee/_EditLayout.cshtml";
}

<div class="card">
    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">Adam James Edwards <b>- Address Information  </b></h4>

        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <fieldset>
                <legend class=" card-title mb-1">Add Current Address</legend>

            </fieldset>

        </div>

    </div>
    <hr class="mb-1 m-0" />
    <div class="card-body">
        <div class="panel-body">
            <form class="form-horizontal mt-0 p-0" method="post" action="/Employee/Edit/Trainings/1">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Current Address</label>
                            <textarea class="form-control" placeholder="Current Address here"></textarea>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input type="text" class="form-control" name="" placeholder="City">

                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label>Post Code</label>
                            <input type="text" name="" class="form-control" placeholder="Post Code">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">From Month</label>
                            <select id="month_search" class="form-control input-sm " name="employee_gender">
                                <option value="">Select Month</option>
                                <option value="">January</option>
                                <option value="">February</option>
                                <option value="">March</option>
                                <option value="">April</option>
                                <option value="">May</option>
                                <option value="">June</option>
                                <option value="">July</option>
                                <option value="">August</option>
                                <option value="">September</option>
                                <option value="">October</option>
                                <option value="">November</option>
                                <option value="">December</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">

                        <div class="form-group">
                            <label class="control-label">From Year</label>
                            <select id="year_search" class="form-control input-sm " name="employee_gender">
                                <option value="">Select Year</option>
                                <option value="">1990</option>
                                <option value="">1991</option>
                                <option value="">1992</option>
                                <option value="">1993</option>
                                <option value="">1994</option>
                                <option value="">1995</option>
                                <option value="">1996</option>
                                <option value="">1997</option>
                                <option value="">1998</option>
                                <option value="">1999</option>
                                <option value="">2000</option>
                                <option value="">2001</option>
                                <option value="">2002</option>
                                <option value="">2003</option>
                                <option value="">2004</option>
                                <option value="">2005</option>
                                <option value="">2006</option>
                                <option value="">2007</option>
                                <option value="">2008</option>
                                <option value="">2009</option>
                                <option value="">2010</option>
                                <option value="">2011</option>
                                <option value="">2012</option>
                                <option value="">2013</option>
                                <option value="">2014</option>
                                <option value="">2015</option>
                                <option value="">2016</option>
                                <option value="">2017</option>
                                <option value="">2018</option>
                                <option value="">2011</option>
                                <option value="">2020</option>


                            </select>
                        </div>


                    </div>
                    <div class="col-sm-6">
                        <div class="form-group pull-right">
                            <br>
                            <button type="submit" class="btn btn-success btn-sm btn-flat" name="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update Address Information">Add</button>

                            <button type="submit" name="" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update Address Information and Go To Trainings">Next</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
    </div>

</div>



@section EditScripts{
    <script>

        $('#month_search').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#year_search').select2({
            selectOnClose: true,
            width: '100%'
        });
    </script>
}