﻿
@{
    ViewData["Title"] = "Basic Information";
    Layout = "~/Views/Employee/_EditLayout.cshtml";
}


<div class="row">
    <div class="col-12">
        <h4 class="pull-left card-title m-0">Adam James Edwards <b>- Basic Information  </b></h4>
        <p class="pull-right">Date Of Registration:<span class="text-danger">04-01-2020</span></p>
    </div>

</div>
<div class="row">
    <div class="col-12">
        <fieldset>
            <legend class="text-success card-title mb-1">Office Use Only</legend>
            <hr class="mb-3 m-0" />
        </fieldset>

    </div>

</div>
<!--Form-->
<form class="" method="post" action="/Employee/Edit/PayRoll/1">
    <div class="row">
        <div class="col-sm-12">


            <fieldset>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group has-success">
                            <label class="control-label text-success" for="inputSuccess">PIN</label>
                            <input type="text" class="numeric_validation form-control checkPinNo" name="employee_number" value="6061" id="inputSuccess" placeholder=" PIN Number">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group has-success">
                            <label class="control-label text-success">Job Title</label>
                            <input type="hidden" name="employee_id" value="28">
                            <input class="alpha_numeric_validation form-control input-sm" name="job_title" type="text" value="" placeholder=" Job title">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group has-success">
                            <label class="control-label text-success" ">Holidays Entitlement</label>
                            <input type="hidden" name="holidays_entitlement_old" value="28">
                            <input type="text" name="holidays_entitlement" id="holidayEntitlement" class="numeric_validation form-control input-sm" value="28">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group has-success">
                            <label class="control-label text-success" ">Reference</label>
                            <input type="text" name="reference_to_emp" id="" class="form-control input-sm" value="">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="putHerePinError"><span style="color:red">The PIN you selected exist, please select another</span></div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Forename</label>
                        <input class="alphabets_validation form-control input-sm" name="fore_name" type="text" value="Adam" placeholder=" Fore name" required="">
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Middle Name</label>
                        <input class="alphabets_validation form-control input-sm" name="middle_name" type="text" value="James" placeholder=" Middle name">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label>Surname</label>
                        <input class="form-control input-sm" name="sur_name" type="text" value="Edwards" placeholder=" Sur name" required="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>N.I. Number</label>
                        <input class="form-control input-sm" name="ni_number" autocomplete="off" id="ni_number" value="" type="text" placeholder=" NI number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Gender</label>
                        <select id="gender_search" class="form-control input-sm " name="employee_gender">
                            <option value="">Select gender</option>
                            <option value="Non-operational">Female</option>
                            <option value="Operational">Male</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>D.O.B</label>
                        <input class="dob form-control input-sm" name="dob" type="datetime-local" autocomplete="off" value="06-07-1990" placeholder=" Date of birth" required="">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nationality</label>
                        <select class="select2-1 form-control select2-hidden-accessible" name="nationality" id="clickNationality" style="width:100%" tabindex="-1" aria-hidden="true">
                            <option value="">Please select ...</option>
                            <option value="Bangladeshi">Bangladeshi</option>
                            <option value="British">British</option>
                            <option value="Indian">Indian</option>
                            <option value="Nigerian">Nigerian</option>
                            <option value="Pakistani">Pakistani</option>
                            <option value="Russian">Russian</option>
                            <option value="Sri Lankan">Sri Lankan</option>
                            <option value="Sudanese">Sudanese</option>
                            <option value="Turkish">Turkish</option>
                            <option value="Zambian">Zambian</option>
                            <option value="Zimbabwean">Zimbabwean</option>
                            <option value="other">Other</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-md-12">
                    <div class="attachNationalityOther"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Contact No.</label>
                        <input class="form-control input-sm" name="contact_no" autocomplete="off" id="" type="text" value="8888888" placeholder=" Contact no">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Alternative Contact No.</label>
                        <input class="form-control input-sm" name="alternative_contact_no" autocomplete="off" id="" type="text" value="" placeholder=" Alternative Contact no">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control input-sm" name="email_id" autocomplete="off" type="text" value="" placeholder=" Email ID">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Next of Kin</label>
                        <input class="form-control input-sm" name="next_kin" autocomplete="off" value="" type="text" placeholder=" Next of kin">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Relationship</label>
                        <input type="text" name="next_kin_relation" autocomplete="off" value="" class="form-control" placeholder=" Relationship With Next of kin">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Next of Kin Contact No.</label>
                        <input class="form-control input-sm" name="next_kin_contact_no" autocomplete="off" id="contact_no_kin" value="" type="text" placeholder=" Next of kin contact no">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>S.I.A License</label>
                        <input class="form-control input-sm ni_number" name="sia_licence_no" autocomplete="off" type="text" value="" placeholder=" SIA licence no">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>License Type</label>
                        <select class="select2-1 form-control select2-hidden-accessible" name="sia_licence_type" id="clickLicense" style="width:100%" tabindex="-1" aria-hidden="true">
                            <option value="">please select ...</option>
                            <option value="CCTV">CCTV</option>
                            <option value="Close Protection">Close Protection</option>
                            <option value="Door Supervision">Door Supervision</option>
                            <option value="Key Holding">Key Holding</option>
                            <option value="Security Guarding">Security Guarding</option>
                            <option value="other">Other</option>
                        </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-clickLicense-container"><span class="select2-selection__rendered" id="select2-clickLicense-container" title="please select ...">please select ...</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>License Expiry</label>
                        <input class="datepicker form-control input-sm" autocomplete="off" name="sia_licence_expiry" value="" type="text" placeholder=" SIA licence expiry">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="attachlicenseOther"></div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input name="additional_license_option" id="additional_license_option" type="checkbox" value="1">
                                <span class="fa fa-check"></span>
                                <strong>Addtional License</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <!-- additional license option -->
                <div id="AdditionalLicenseOption" style="display:none">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>S.I.A License</label>
                            <input class="form-control input-sm ni_number" autocomplete="off" name="additional_sia_licence_no" id="additional_sia_licence_no" type="text" value="" placeholder=" SIA licence no">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>License Type</label>
                            <select class="select2-1 form-control select2-hidden-accessible" name="additional_sia_licence_type" id="additional_sia_licence_type" style="width:100%" tabindex="-1" aria-hidden="true">
                                <option value="">please select ...</option>
                                <option value="CCTV">CCTV</option>
                                <option value="Close Protection">Close Protection</option>
                                <option value="Door Supervision">Door Supervision</option>
                                <option value="Key Holding">Key Holding</option>
                                <option value="Security Guarding">Security Guarding</option>
                                <option value="other">Other</option>
                            </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-additional_sia_licence_type-container"><span class="select2-selection__rendered" id="select2-additional_sia_licence_type-container" title="please select ...">please select ...</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>License Expiry</label>
                            <input class="datepicker form-control input-sm" autocomplete="off" name="additional_sia_licence_expiry" value="" type="text" placeholder=" SIA licence expiry">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="attachlicenseOtherAddtional"></div>
                </div>
                <div class="col-md-12">
                    <label>Joining Date</label>
                    <input type="text" name="joining_date" class="datepicker form-control input-sm" autocomplete="off" value="" placeholder=" Joining date">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <h4>
                        <span style="color:#3c8dbc">
                            A

                            Bunjaku
                        </span>
                        belongs to guard group
                    </h4>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input name="guard_groups[]" type="checkbox" value="3">
                                <span class="fa fa-check"></span>
                                <strong>KSM</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input name="guard_groups[]" type="checkbox" value="1">
                                <span class="fa fa-check"></span>
                                <strong>Secure Security Guards</strong>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input name="guard_groups[]" type="checkbox" value="2">
                                <span class="fa fa-check"></span>
                                <strong>Sia Door Supervison</strong>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr>
                    <label for="">Comments</label>
                    <textarea name="pin_comments" rows="2" class="form-control"></textarea>
                </div>
            </div>


        </div>
    </div>

    <hr />
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Other information</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Employee Picture <span style="color:green"></span></label>
                                <input type="hidden" name="image_old" value="">
                                <input name="image" id="image" type="file" style="width:50%">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="~/images/users/1.jpg" style="width:64px;height:64px;float:right" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Do you need visa to work or remain in the UK?</label>
                                <div class="checkbox c-checkbox needsclick">
                                    <label class="needsclick">
                                        <input type="radio" name="required_visa" value="1" class="checkVisa needsclick" required="">
                                        <span class="fa fa-check"></span>
                                        Yes
                                    </label>
                                    <label class="needsclick" style="margin-left: 50px">
                                        <input type="radio" name="required_visa" value="0" class="checkVisa needsclick" required="">
                                        <span class="fa fa-check"></span>
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div id="attachVisaInfo">
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <hr>
                            <div class="form-group">
                                <label for="">Provide previous employment details. Do you have p45 or p46</label>
                                <div class="checkbox c-checkbox needsclick">
                                    <label class="needsclick">
                                        <input type="radio" name="p45_or_p46" value="p45" class="clickP45P46 needsclick">
                                        <span class="fa fa-check"></span>
                                        <strong>P45</strong>
                                    </label>
                                    <label class="needsclick" style="margin-left: 50px">
                                        <input type="radio" name="p45_or_p46" value="p46" class="clickP45P46 needsclick">
                                        <span class="fa fa-check"></span>
                                        <strong>P46</strong>
                                    </label>
                                </div>
                                <input type="hidden" name="p45_file_old" value="">
                                <div class="placeWhatEverFaheemWants">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">

                                <label>Do you have other employement?</label>
                                <div class="checkbox c-checkbox needsclick">
                                    <label class="needsclick">
                                        <input type="radio" name="other_employement" value="1" class="checkOtherEmployement needsclick" required="">
                                        <span class="fa fa-check"></span>
                                        Yes
                                    </label>
                                    <label class="needsclick" style="margin-left: 50px">
                                        <input type="radio" name="other_employement" value="0" class="checkOtherEmployement needsclick" required="">
                                        <span class="fa fa-check"></span>
                                        No
                                    </label>
                                </div>
                            </div>

                            <div id="attachOtherEmp">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Leisure</label>
                                <textarea class="doNotAllowEnters form-control input-sm" name="leisure" rows="3" type="text" placeholder=" Leisure"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Criminal Record</label>
                                <textarea class="doNotAllowEnters form-control input-sm" name="criminal_record" rows="3" type="text" placeholder=" Criminal Record"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="">Any Bankruptcy (or) CCJ in last 6 years?</label>
                                <div class="checkbox c-checkbox needsclick">
                                    <label class="needsclick">
                                        <input type="radio" name="bankruptcy" value="1" class="clickBankRuptcy needsclick">
                                        <span class="fa fa-check"></span>
                                        Yes
                                    </label>
                                    <label class="needsclick" style="margin-left: 50px">
                                        <input type="radio" name="bankruptcy" value="0" class="clickBankRuptcy needsclick">
                                        <span class="fa fa-check"></span>
                                        No
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="addBankRuptyDetails">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="">Details of any days/ hours/shifts you can’t work.</label>
                                <textarea name="can_not_work" rows="3" class="doNotAllowEnters form-control input-sm" placeholder="Details of days/hours/shifts you can't work"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Any holidays commitment in the future.</label>
                        <textarea name="holiday_commitment" rows="3" class="doNotAllowEnters form-control input-sm" placeholder=" Holidays commitment details"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="">Do you have access to your own transport?</label>
                        <div class="checkbox c-checkbox needsclick">
                            <label class="needsclick">
                                <input type="radio" name="transport_access" value="1" class="clickTransport needsclick">
                                <span class="fa fa-check"></span>
                                Yes
                            </label>
                            <label class="needsclick" style="margin-left: 50px">
                                <input type="radio" name="transport_access" value="0" class="clickTransport needsclick">
                                <span class="fa fa-check"></span>
                                No
                            </label>
                        </div>
                        <div class="">
                            <label>Driving License Type</label>
                            <select class="select2-1 form-control select2-hidden-accessible" name="transport_type" style="width:100%" tabindex="-1" aria-hidden="true">
                                <option value="">Select Type</option>
                                <option value="Ful">Full driving license</option>
                                <option value="Provisional">Provisional license</option>
                                <option value="none">None</option>
                            </select><span class="select2 select2-container select2-container--bootstrap" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-transport_type-qf-container"><span class="select2-selection__rendered" id="select2-transport_type-qf-container" title="Select Type">Select Type</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Employee Start Date: <span style="font-size:smaller">( When will this employee start work? )</span></label>
                        <input type="text" name="employee_start_date" autocomplete="off" class="datepicker form-control" value="">
                    </div>
                    <div class="col-md-12">
                        <div class="form-group pull-right">
                            <br><br>

                            <button type="submit" class="btn btn-success btn-sm btn-flat" name="updateEmployee" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update Basic Information">Save</button>
                            <button type="submit" name="updateAndNextEmployee" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update and Go To Payroll Information">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section EditScripts{
    <script>
        $('#gender_search').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#clickNationality').select2({
            selectOnClose: true,
            width: '100%'
        });
    </script>
}
