﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}
<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Employee Information</h5>
        </div>

        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right ">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/Employee/List">Employee List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employee Information</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 ">
            <nav aria-label="breadcrumb" class=" mt-2">
                <div class="pull-right">
                    <a href="/Employee/List" type="button" class="btn btn-info btn-square"> Back</a>
                    
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0 ml-5 ">
    <div class="page-content container-fluid">
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-lg-3 col-xlg-3 col-md-5">
                <div class="card text-center p-5">
                    <img src="~/images/users/1.jpg" class="rounded-circle m-auto" width="100" />
                    <p><b>Adam James Edwards</b></p>
                    <p><i class="fa fa-phone"></i> 7432503993</p>
                    <p><i class="fa fa-envelope-open"></i></p>
                    <p><i class="fa fa-calendar"></i> 06 Jul 1990</p>
                    <h2 class="text-purple">Joining</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">

                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#basic" role="tab"><span class="hidden-sm-up"><i class="fa fa-info "></i></span> <span class="hidden-xs-down"><b>Basic</b></span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#address" role="tab"><span class="hidden-sm-up"><i class="fa fa-home"></i></span> <span class="hidden-xs-down"><b>Addresses</b></span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#training" role="tab"><span class="hidden-sm-up"><i class=" fa fa-certificate"></i></span> <span class="hidden-xs-down"><b>Training</b></span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#employment" role="tab"><span class="hidden-sm-up"><i class="fa fa-briefcase"></i></span> <span class="hidden-xs-down"><b>Employement</b></span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#education" role="tab"><span class="hidden-sm-up"><i class="fa fa-graduation-cap"></i></span> <span class="hidden-xs-down"><b>Education</b></span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#p-reference" role="tab"><span class="hidden-sm-up"><i class="fa fa-link"></i></span> <span class="hidden-xs-down"><b>Personal Refrences</b></span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#documents" role="tab"><span class="hidden-sm-up"><i class="fa fa-file-alt" aria-hidden="true"></i></span> <span class="hidden-xs-down"><b>Documents</b></span></a> </li>
                            <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#SIA-Questionaire" role="tab"><span class="hidden-sm-up"><i class="fa fa-file-alt" aria-hidden="true"></i></span> <span class="hidden-xs-down"><b>SIA Questionaire</b></span></a> </li>


                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content tabcontent-border p-4">
                            <div class="tab-pane active" id="basic" role="tabpanel">

                                <!--Contact Information-->
                                <h4>Contact Information</h4>
                                <div class="row">
                                    <div class="col col-md-6 col-sm-12 ">

                                        <ul class="list-group border-bottom">
                                            <li class="list-group-item"><b>Contact Number</b><a class="pull-right"> 7432503993</a></li>
                                            <li class="list-group-item"><b>Email Address</b><a class="pull-right"></a></li>
                                            <li class="list-group-item"><b>Date of Birth</b><a class="pull-right">06 Jul 1990</a></li>
                                            <li class="list-group-item"><b>Nationality</b><a class="pull-right"></a></li>


                                        </ul>
                                    </div>
                                    <div class="col col-md-6 col-sm-12 ">
                                        <ul class="list-group border-bottom">
                                            <li class="list-group-item"><b>National Insurance Number</b><a class="pull-right"> </a></li>
                                            <li class="list-group-item"><b>Next of Kin</b><a class="pull-right"></a></li>
                                            <li class="list-group-item"><b>Relation</b><a class="pull-right"></a></li>
                                            <li class="list-group-item"><b>Contact Number</b><a class="pull-right"></a></li>


                                        </ul>
                                    </div>

                                </div>
                                <!--S.I.A & Visa Information-->
                                <h4>S.I.A & Visa Information</h4>
                                <div class="row">
                                    <div class="col col-md-6 col-sm-12 ">

                                        <ul class="list-group border-bottom">
                                            <li class="list-group-item"><b>SIA Lisence Type</b><a class="pull-right"> 1016435451777605	</a></li>
                                            <li class="list-group-item"><b>SIA Lisence Number</b><a class="pull-right">467836893</a></li>
                                            <li class="list-group-item"><b>SIA Lisence Number expiry</b><a class="pull-right">14-09-2020</a></li>
                                        </ul>
                                    </div>
                                    <div class="col col-md-6 col-sm-12 ">
                                        <ul class="list-group border-bottom">
                                            <li class="list-group-item"><b>Visa Type </b><a class="pull-right"> </a></li>
                                            <li class="list-group-item"><b>Expriy Date</b><a class="pull-right"></a></li>
                                            <li class="list-group-item"><b>date of Entry/Re Entry</b><a class="pull-right"></a></li>
                                        </ul>
                                    </div>

                                </div>

                                <!--Bank Details-->
                                <h4>Bank Details</h4>
                                <div class="row">
                                    <div class="col col-md-12 col-sm-12 ">

                                        <ul class="list-group border-bottom">
                                            <li class="list-group-item"><b>Account Title</b><a class="pull-right"> </a></li>
                                            <li class="list-group-item"><b>Account Number</b><a class="pull-right"></a></li>
                                            <li class="list-group-item"><b>Sort Code</b><a class="pull-right"></a></li>
                                            <li class="list-group-item"><b>Bank Name</b><a class="pull-right"></a></li>
                                        </ul>
                                    </div>


                                </div>
                                <!--Employee Leaving and Rejoining Information-->
                                <h4>Employee Leaving and Rejoining Information</h4>
                                <div class="row">
                                    <div class="col col-md-12 col-sm-12 ">

                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>ACTION</th>
                                                        <th>DATE OF ACTION</th>
                                                        <th>ACTION COMMENTS</th>
                                                        <th>ACTION TAKEN BY</th>
                                                        <th>TIME STAMP OF ACTION</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>



                            </div>
                            <div class="tab-pane" id="address" role="tabpanel">
                                <h4>Addresses Information</h4>
                            </div>
                            <div class="tab-pane" id="training" role="tabpanel">
                                <h4>Training Information</h4>
                            </div>
                            <div class="tab-pane" id="employment" role="tabpanel">
                                <h4>Employement History</h4>
                            </div>
                            <div class="tab-pane" id="education" role="tabpanel">
                                <h4>Education Information</h4>
                            </div>
                            <div class="tab-pane" id="p-reference" role="tabpanel">
                                <h4>References Information</h4>
                            </div>
                            <div class="tab-pane" id="documents" role="tabpanel">
                                <div class="row">
                                    <div class="col col-md-12 col-sm-12 ">
                                        <h4>Documents Information</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>S.No </th>
                                                        <th>Document</th>
                                                        <th>File Name</th>
                                                        <th>Comments</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>


                                </div>


                            </div>
                            <div class="tab-pane" id="SIA-Questionaire" role="tabpanel">
                                <h4>SIA Questionare</h4>
                                <hr />
                                <div class="box-comment">
                                    <table class="table  table-hovered">
                                        <thead>
                                            <tr>
                                                <th width="60%">Question</th>
                                                <th width="40%">Answer Given</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1- What do you call the Private Security Industry’s Governing Body?</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>2- Can you carry out licensable activities without your SIA Licence badge?</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>3- How long does an SIA Licence valid for</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>4- What should you do if you have lost your licence</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>5- Who should you tell if you move address</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>6- What should you do with your SIA Licence when you are at work</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>7- What should you do if you see a person attempt to steal from your site</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>8- What should you do if someone starts shouting or threatening you whilst at work</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>9- What is your main role as a Security Officer</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>10- Write down a “Hazard” that you might expect to experience every day at work</td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>11- What do you call the document that tells you what to do in the event of an Incident on site</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

            <!-- Column -->
            <!-- Row -->
        </div>

        <!--ROW-->
    </div>
</div>




@section Scripts{
    <script>
        
    </script>
}