﻿
@{
    ViewData["Title"] = "Employement Information";
    Layout = "~/Views/Employee/_EditLayout.cshtml";
}

<div class="card">

    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">Adam James Edwards <b>- Previous employements  </b></h4>
            <p class="pull-right">Date Of Registration:<span class="text-danger"> 04-01-2020</span></p>
        </div>

    </div>
    <hr class="mt-1" />
    <form method="post" action="">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Job Title</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Job Title" required="required">


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Job Description</label>
                    <textarea name="" class="form-control" placeholder="Job Description"></textarea>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Company Name" required="required">


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Address</label>
                    <textarea class="form-control" placeholder="Address"></textarea>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label" name="">Reason for Leaving</label>
                    <textarea name="" class="form-control" placeholder="Reason for Leaving"></textarea>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Employer contact number" required="required">


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Contact Email</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Employer contact email" required="required">


                </div>
            </div>
        </div>
        
        <div class="row">

            <div class="col-6">
                <label class="control-label">Employement Dates</label>
                <div class="input-group">
                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="start" placeholder="Start date" required="required">

                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">to</div>
                    </div>

                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="end" placeholder="End date" required="required" aria-describedby="btnGroupAddon">

                </div>
            </div>
            <div class="col-md-2 mt-4">

                <button type="submit" class="btn btn-success btn-block btn-sm btn-flat" name="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Employement">Save</button>
            </div>
            <div class="col-md-2 mt-4">

                <button type="submit" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Training and Go To Education">Next</button>
            </div>

        </div>
        <hr />

        <div class="row mt-3 mb-0">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox c-checkbox">
                        <label id="clickTheNoEmploymentTag">
                            <input type="checkbox" name="trainings" id="employmentTag" value="1" checked="">
                            <span class="fa fa-check"></span>
                            <em style="color:red">No employments so far.</em>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" name="submitNoEmployement" class="btn btn-success btn-sm btn-flat pull-right">Update</button>
            </div>
        </div>
    </form>
</div>

@section EditScripts{
    <script>
        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
    </script>
}