﻿
@{
    ViewData["Title"] = "Application Form";
    ViewData["SubTitle"] = "GDPR Section";

    Layout = "~/Views/Employee/_EditLayout.cshtml";
}


<div class="card">

    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">GDPR</h4>

        </div>

    </div>
    <hr class="mt-1" />
    <form method="post" action="/Employee/Edit/GDPRNotice/1">
        <div class="row">
            <div class="col-12">
                <h3><b>Who We Are</b></h3>
                <p>
                    <b>Secure Security Gurds</b> gather and process your personal information in accordance with this privacy notice and in compliance with the relevant data protection Regulation and laws. This notice provides you with the necessary information regarding your rights and our obligations, and explains how, why and when we process your personal data.
                </p>
                <p>
                    <b>Secure Security Gurds</b> registered office is at Jhumat House, 160 London Rd, Barking we are a company registered in England and Wales under company number QAZXCV12344. We are registered on the Information Commissioner's Office Register; registration number QAZXCV12344, and act as the data controller when processing your data. Our designated Data Protection Officer/Appointed Person is "Contact Person", who can be contacted at Tel: 07403023765
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3><b>Information That We Collect</b></h3>
                <p>
                    <b>Secure Security Gurds</b> processes your personal information to meet our legal, statutory and contractual obligations under the standard BS7858 and the contractual obligation to provide the services to our client. We will never collect any unnecessary personal data from you and do not process your information in any way, other than as specified in this notice.
                </p>
                <p>
                <p><b>The personal data that we collect from you is: -</b></p>
                <ul class="list-group lobilist-check">
                    <li>Name</li>
                    <li>Date of Birth</li>
                    <li>Home Address</li>
                    <li>Personal Email</li>
                    <li>Home Telephone Number</li>
                    <li>Mobile Telephone Number</li>
                    <li>National Insurance Number</li>
                    <li>Passport Number</li>
                    <li>Driver’s License Number</li>
                    <li>Previous Employment History for the Last Ten Years</li>
                    <li>Educational History</li>
                    <li>Personal References</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3><b>We collect information in the below ways: -</b></h3>
                <p>online form, website, employment CV’s</p>
                <p>
                    <b>How We Use Your Personal Data</b>  (Legal Basis for Processing)
                </p>
                <p>
                    <b>Secure Security Gurds</b> takes your privacy very seriously and will never disclose, share or sell your data without your consent; unless required to do so by law. We only retain your data for as long as is necessary and for the purpose(s) specified in this notice. Where you have consented to us advertise your name and achievements as reference for Tendering or company promotion, you are free to withdraw this consent at any time. <b>The purposes and reasons for processing your personal data are detailed below:-</b>

                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <h3>
                    <b>Employment and to provide our customer base with our security services</b>
                </h3>
                <ul>
                    <li>
                        We collect your personal data in the performance of a contract or to provide a service required by our clients.
                    </li>
                    <li>We collect and store your personal data as part of our legal obligation for business accounting and tax purposes</li>
                    <li>We have a legal obligation to share your personal data with Graydon, Graydon is a credit reference agency and provide us with financial background checks prior to you commencing employment with us</li>
                    <li>We will occasionally send you information relating to the company and for your knowledge. Such information will be non-intrusive and is processed on the grounds of legitimate interests</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h3><b>Your Rights</b></h3>
                <p>You have the right to access any personal information that Secure Security Gurds processes about you and to request information about: -</p>
                <ul>
                    <li>
                        What personal data we hold about you
                    </li>
                    <li>The purposes of the processing</li>
                    <li>The categories of personal data concerned</li>
                    <li>The recipients to whom the personal data has/will be disclosed</li>
                    <li>How long we intend to store your personal data for</li>
                    <li>If we did not collect the data directly from you, information about the source</li>
                </ul>
                <p>If you believe that we hold any incomplete or inaccurate data about you, you have the right to ask us to correct and/or complete the information and we will strive to do so as quickly as possible; unless there is a valid reason for not doing so, at which point you will be notified.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><b>Sharing and Disclosing Your Personal Information</b></h3>
                <p>We do not share or disclose any of your personal information without your consent, other than for the purposes specified in this notice or where there is a legal requirement. OAK SECURITY SERVICES LIMITED uses Graydon as a third-party to provide the below services and business functions; however, all processors acting on our behalf only process your data in accordance with instructions from us and comply fully with this privacy notice, the data protection laws and any other appropriate confidentiality and security measures.</p>


            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><b>Sharing and Disclosing Your Personal Information</b></h3>
                <p>We do not share or disclose any of your personal information without your consent, other than for the purposes specified in this notice or where there is a legal requirement. OAK SECURITY SERVICES LIMITED uses Graydon as a third-party to provide the below services and business functions; however, all processors acting on our behalf only process your data in accordance with instructions from us and comply fully with this privacy notice, the data protection laws and any other appropriate confidentiality and security measures.</p>


            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><b>GRAYDON</b></h3>
                <p><b>Vetting and screening all security staff in accordance with BS7858</b></p>


            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h3><b>Clients</b></h3>
                <p><b>Vetting and screening all security staff in accordance with BS7858</b></p>


            </div>
        </div>

        <div class="row">
            <div class="form-group row">
                <div class="col-md-12 ">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1" required>
                        <label class="custom-control-label" for="customCheck1">I Agree</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p><b>Consent</b></p>

        </div>
        <div class="row">
            <p>
                Secure Security Gurds take your privacy seriously and will only process your personal data with your consent and in accordance with the terms stated in our Privacy Notice. If you consent to us collecting and processing your personal data, please sign below: -
            </p>
            <p>
                I consent to Secure Security Gurds for processing my personal data as detailed in Privacy Notice:
            </p>
        </div>
        <div class="row">
            <div class="form-group row">
                <div class="col-md-12 ">
                    <div class="custom-control custom-checkbox" >
                        <input type="checkbox" class="custom-control-input" id="customCheck2" required>
                        <label class="custom-control-label" for="customCheck2">I Agree</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Time</label>
                    <input class="form-control input-sm" type="time" name="" autocomplete="off" id="" value="" placeholder=" ">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label>Date</label>
                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="dob" placeholder="Date of Birth" required="required">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group mb-0 pull-right">
                    <button type="submit" class="btn btn-success waves-effect waves-light">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section EditScripts{
    <script>


        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
    </script>
}