﻿
@{
    ViewData["Title"] = "Health Information";
    Layout = "~/Views/Employee/_EditLayout.cshtml";
}

<div class="card">

    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">Adam James Edwards <b>- Occupational Health </b></h4>

        </div>

    </div>
    <hr class="mt-1" />
    <form method="post" action="/Employee/Edit/GDPRNotice/1">
        <div class="row mb-2">
            <div class="col-md-10">
                <label for="">Disclosure to tick first that following question may found inappropriate and disturbing.</label>
            </div>
            <div class="col-md-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="checkBox">
                    <label class="custom-control-label" id="health-section_questions" for="checkBox">Agree</label>
                </div>
            </div>
        </div>
        <div id="health_questions" class="hide">
            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 1- Do you suffer from or have history of any muscular or skeletal conditions (Inc back pain, arthritis, muscle spasms, cramps etc)
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck1">
                        <label data-textareaid="1" class="custom-control-label yesBtn" for="customCheck1">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck2">
                        <label data-textareaid="1" class="custom-control-label noBtn" for="customCheck2">No</label>
                    </div>

                </div>
                <div id="" data-id="1" class="col-md-3 form-group hide">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control "></textarea>
                </div>


            </div>
            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 2- Are you colour blind at all (if so please give details on reverse).
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck3">
                        <label data-textareaid="2" class="custom-control-label yesBtn" for="customCheck3">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck4">
                        <label data-textareaid="2" class="custom-control-label noBtn" for="customCheck4">No</label>
                    </div>

                </div>
                <div data-id="2" class="col-md-3 form-group hide">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>
            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 3- Have you are any member of your family any history of heart problems.
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck5">
                        <label data-textareaid="3" class="custom-control-label yesBtn" for="customCheck5">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck6">
                        <label data-textareaid="3" class="custom-control-label noBtn" for="customCheck6">No</label>
                    </div>

                </div>
                <div data-id="3" class="col-md-3 form-group hide">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 4- Have you or any member of your family any history of Chest, Bronchial, Respiratory or Asthma type problems.
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck7">
                        <label data-textareaid="4" class="custom-control-label yesBtn" for="customCheck7">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck8">
                        <label data-textareaid="4" class="custom-control-label noBtn" for="customCheck8">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="4">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 5- Are you allergic to anything.
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck9">
                        <label data-textareaid="5" class="custom-control-label yesBtn" for="customCheck9">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck10">
                        <label data-textareaid="5" class="custom-control-label noBtn" for="customCheck10">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="5">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 6- Are you prone to fitting, seizure, fainting etc.
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck11">
                        <label data-textareaid="6" class="custom-control-label yesBtn" for="customCheck11">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck12">
                        <label data-textareaid="6" class="custom-control-label noBtn" for="customCheck12">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="6">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>

                        Q: 7- Have you ever suffered from nervous breakdown, panic attacks,mental illness.
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck13">
                        <label data-textareaid="7" class="custom-control-label yesBtn" for="customCheck13">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck14">
                        <label data-textareaid="7" class="custom-control-label noBtn" for="customCheck14">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="7">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 8- Do you suffer from high or low blood pressure.
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck15">
                        <label data-textareaid="8" class="custom-control-label yesBtn" for="customCheck15">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck16">
                        <label data-textareaid="8" class="custom-control-label noBtn" for="customCheck16">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="8">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>


            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 9- Have you any hearing diffulties?
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck17">
                        <label data-textareaid="9" class="custom-control-label yesBtn" for="customCheck17">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck18">
                        <label data-textareaid="9" class="custom-control-label noBtn" for="customCheck18">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="9">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 10- Have you any smell or eye sight difficulties(Please give details on reverse)?
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck19">
                        <label data-textareaid="10" class="custom-control-label yesBtn" for="customCheck19">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck20">
                        <label data-textareaid="10" class="custom-control-label noBtn" for="customCheck20">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="10">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 11- Do you suffer from any sleep disorders?
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck21">
                        <label data-textareaid="11" class="custom-control-label yesBtn" for="customCheck21">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck22">
                        <label data-textareaid="11" class="custom-control-label noBtn" for="customCheck22">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="11">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 12- When considering your home environment, health profile and family demands: Are you able to work at night and sleep adequately during the day?
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck23">
                        <label data-textareaid="12" class="custom-control-label yesBtn" for="customCheck23">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck24">
                        <label data-textareaid="12" class="custom-control-label noBtn" for="customCheck24">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="12">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>

            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 13- Are you under any medication at all (if so please give details)?
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck25">
                        <label data-textareaid="13" class="custom-control-label yesBtn" for="customCheck25">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck26">
                        <label data-textareaid="13" class="custom-control-label noBtn" for="customCheck26">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="13">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>
            <div class="row ml-0 mt-2">

                <div class="col-md-6 d-inline">
                    <label>
                        Q: 14- Please record here any special needs that you require that will enable you to carry out your duties satisfactorily.
                    </label>
                </div>
                <div class="col-md-3">
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck27">
                        <label data-textareaid="14" class="custom-control-label yesBtn" for="customCheck27">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck28">
                        <label data-textareaid="14" class="custom-control-label noBtn" for="customCheck28">No</label>
                    </div>

                </div>
                <div class="col-md-3 form-group hide" data-id="14">
                    <label class="form-control-label">Details</label>
                    <textarea class="form-control"></textarea>
                </div>


            </div>
            <div class="row justify-content-end">
                <div class="col-md-2 mt-4 d-flex">

                    <button type="submit" class="btn btn-success mr-1 w-100" name="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Health">Add</button>
                    <button type="submit" class="btn btn-primary w-100" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Reference and Go To Declaration ">Next</button>
                </div>

            </div>

        </div>

    </form>
</div>

@section EditScripts{
    <script>
        $(".yesBtn").click(function () {
            debugger;
            var textAreaId = $(this).data().textareaid;
            $("[data-id=" + textAreaId + "]").show()
        });
        $(".noBtn").click(function () {
            debugger;
            var textAreaId = $(this).data().textareaid;
            $("[data-id=" + textAreaId + "]").hide()
        });


        
             $("#health-section_questions").click(function () {
                 $("#health_questions").toggleClass("hide");
             });
     





    </script>
}