﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Holidays Monthly Calender</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Holidays Monthly Calender</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">
        <div class="table">
            <table id="calendar">

            </table>
        </div>

    </div>
</div>
@section Scripts{ 
    <script>
        $(function () {
            $("#calendar").fullCalendar();

        });


    </script>


}

