﻿
@{
    ViewData["Title"] = "Online Application";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Online Application</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Online Application</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">
        <div class="row pl-2">
            <div class="col-12">
                <div class="material-card card">
                    <div class="card-body">


                        <div class="table-responsive">
                            <table id="onlineApplication" class="table table-striped border">
                                <thead>
                                    <tr>
                                        <th>PIN</th>
                                        <th> FORENAME </th>
                                        <th> MIDDLE NAME </th>
                                        <th>SURNAME</th>
                                        <th>CONTACT </th>
                                        <th>SIA NUMBER </th>
                                        <th>EXPIRY</th>
                                        <th>SUBMISSION DATE</th>
                                        <th>ACTIONS</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts{
    <script>
        $(function () {

            $("#onlineApplication").DataTable();
        ;

        });
    </script>
}
