﻿
@{
    ViewData["Title"] = "Bank Information";
    Layout = "~/Views/Employee/_EditLayout.cshtml";
}


<div class="card">
    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">Adam James Edwards <b>- Payroll Information  </b></h4>

        </div>

    </div>
    <hr class="mt-3 m-0" />
        <div class="card-body">
            <div class="panel-body">
                <form class="form-horizontal mt-0 p-0" method="post" action="/Employee/Edit/Addresses/1">
                    
                   
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Hourly Pay Rate</label>
                                <input type="text" name="pay_rate" class="payment_validation_with_point form-control input-sm" value="" placeholder="Pay Rate">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Payment Period</label>
                                <select id="payment_period" class="form-control input-sm " name="employee_gender">
                                    <option value="">Select payment period</option>
                                    <option value="Non-operational">Fornightly</option>
                                    <option value="Operational">Monthly</option>
                                    <option value="Operational">Weekly</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Fixed Pay (if any)</label>
                                <input type="text" name="fix_pay" class="numeric_validation form-control input-sm" value="" placeholder="Amount">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Bank Account Name</label>
                                <input type="hidden" name="employee_id" value="28">
                                <input class="form-control input-sm" type="text" name="account_name" value="" placeholder=" Account name">
                            </div>
                            <div class="form-group">
                                <label>Bank Account Number</label>
                                <input class="form-control input-sm" type="text" name="account_number" value="" placeholder=" Account number">
                            </div>
                            <div class="form-group">
                                <label>Bank Sort Code</label>
                                <input class="form-control input-sm" type="text" name="sort_code" value="" placeholder=" Sort code">
                            </div>
                            <div class="form-group">
                                <label>Bank Name</label>
                                <input class="form-control input-sm" type="text" name="bank_name" value="" placeholder=" Bank name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Other Information</label>
                                <textarea class="doNotAllowEnters form-control input-sm" rows="13" name="other_information" placeholder=" Other information"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group pull-right">
                                <br>
                                <button type="submit" class="btn btn-success btn-sm btn-flat" name="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update Payroll Information">Save</button>

                                <button type="submit" name="updateAndContinue" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Update Payroll Information and Go To Address">Next</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</div>

@section EditScripts{
    <script>
        $('#payment_period').select2({
            selectOnClose: true,
            width: '100%'
        });
    </script>
}