﻿
@{
    ViewData["Title"] = "Personal Reference Information";
    Layout = "~/Views/Employee/_EditLayout.cshtml";
}


<div class="card">

    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">Adam James Edwards <b>- References </b></h4>

        </div>

    </div>
    <hr class="mt-1" />
    <form method="post" action="/Employee/Edit/OccupationalHealthSection/1">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Reference Name</label>
                    <input type="text" name="reference" class="form-control" id="reference" placeholder="Reference name" required="required">


                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder=" Contact Number" required="required">


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Contact Email</label>
                    <input type="text" name="ref-email" class="form-control" id="email" placeholder="Contact email" required="required">


                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Profession</label>
                    <input type="text" name="profession" class="form-control" id="profession" placeholder="Profession" required="required">


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Relationship</label>
                    <input type="text" name="relationship" class="form-control" id="relationship" placeholder="Relationship with Reference" required="required">


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Reference Address</label>
                    <textarea class="form-control" placeholder="Address"></textarea>


                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                <div class="form-group">
                    <label class="control-label d-block">Do above person know you for lasst 2 years?</label>
                    <div class="custom-control custom-radio d-inline mr-3 ">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">Yes</label>
                    </div>
                    <div class="custom-control custom-radio d-inline">

                        <input name="know" type="radio" class="custom-control-input" id="customCheck2">
                        <label class="custom-control-label" for="customCheck2">No</label>
                    </div>
                </div>
            </div>



            <div class="col-md-2 mt-4">

                <button type="submit" class="btn btn-success btn-block btn-sm btn-flat" name="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Reference">Save</button>
            </div>
            <div class="col-md-2 mt-4">

                <button type="submit" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Reference and Go To Occupational Health ">Next</button>
            </div>

        </div>
        <hr />


    </form>
</div>

@section EditScripts{
    <script>

    </script>
}