﻿
@{
    ViewData["Title"] = "Declaration by Applicant";
    ViewData["SubTitle"] = "Operation Employee's";

    Layout = "~/Views/Employee/_EditLayout.cshtml";
}


<div class="panel-body">
    <div class="col-md-12">
        <h3 class="box-title">Policy</h3>
    </div>
    <div class="col-md-12">
        <p style="text-align:justify">
            We are aware that in today’s world the protection of data and information is fundamental to your personal security and we have an obligation to ensure the data we capture and store
            relating to our staff is respected, used correctly and stored securely. Please be aware therefore that all data captured and retained by our company is managed in accordance with the
            following 8 recognised principles of data protection:
        </p>

        <ul>
            <li>It will be fairly and lawfully processed</li>
            <li>It will be processed for limited purposes</li>
            <li>Remain accurate and up to date</li>
            <li>It will be adequate, relevant and not excessive</li>
            <li>Not kept for longer than is necessary</li>
            <li>Processed in line with your rights</li>
            <li>Securely captured and retained</li>
            <li>Not transferred to other countries without adequate protection</li>
        </ul>
        <p style="text-align:justify">
            Employees have a right to access and view any data we hold relating to them and we uphold this right at all times. Access will be made available within 40 days of request. Please
            apply to the office for more information on how to access this information if required.
            Secure Security Gurds
            is registered with the Information Commissionaires Office and complies with all relevant
            legislation and regulation in respect of capturing, retaining and protecting your data. Should any staff have any concerns regarding data protection or the practices we utilise please
            bring these concerns (in writing wherever possible) to the immediate attention of the HR manager who is located at the Head Office.
        </p>
    </div>
    <div class="col-md-12">
        <h3 class="box-title">Declaration By Applicant</h3>
    </div>
    <div class="col-md-12">
        <p style="text-align:justify">
            I agree not to divulge any information however acquired relating to the Company, its Business or its Clients to any other Person, Company or Organisation without written consent
            from the Company either during or after employment is determined. I agree to abide by the rules of the company at all times and agree to a personal search as and when required. I
            agree to attend Training Courses appropriate to my employment as mutually agreed by the company and myself. If accepted I consent to a medical examination carried out by a
            company nominated Doctor if required. I have detailed my previous 5 years history and consent to the company contacting such persons including character referees as necessary to
            verify those details in accordance with British Standards BS 7858:2012.
        </p>
        <p style="text-align:justify">
            I AGREE/I DO NOT AGREE, to my present employer being contacted BEFORE an offer of employment is
            made. I understand my present employer will be contacted after I accept any provisional offer of employment. I understand that any offer of employment is subject to a satisfactory
            screening process being completed.
            I understand that any offer of employment is subject to 12 weeks probationary period. I agree to be subjected to a credit reference check to determine my financial position at the time
            of application. I understand that if any information I have provided on this form is subsequently found to be false or misleading I will be liable to disciplinary procedures that could
            result in dismissal without notice. I understand that all documents submitted by me to prove identity and/or address will be UV checked for authenticity and any anomalies will be
            reported to the necessary officials without reference. I understand that it is a criminal offence to make false statements on this Application Form. I confirm that if I commence
            employment with your company and I am registered as unemployed, I will inform the relevant authorities of my revised employment status. I accept that it is my responsibility to renew
        </p>

        <br>
        <form method="POST" action="https://ssg.indel.uk/emp/op/app-form/28/declaration" accept-charset="UTF-8">
            <input name="_token" type="hidden" value="xJFRqib4iCvGWnhtJ4wfvcdUi1DVdFml0YYk7trs">
            <div class="col-md-12">
                <input type="hidden" name="branch_id" value="1">
                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox" name="declaration_status" value="1">
                        <span class="fa fa-check"></span>
                        I Agree
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="box-title">Financial History</h3>
            </div>
            <div class="col-md-12">
                <p style="text-align:justify">
                    In accordance with BS 7858:2012 a Credit Reference Check will be carried out. Failure to disclose anything will result in a failed application.
                </p>
            </div>
            <div class="col-md-12">
                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox" name="financial_declaration" value="1">
                        <span class="fa fa-check"></span>
                        I Agree
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="box-title">Applicant Screening</h3>
            </div>
            <div class="col-md-12">
                <p style="text-align:justify">
                    All applications will be screened for the previous 5 years. Any failure to provide relevant and accurate information or if supplied information is
                    unsatisfactory we may have no alternative but to reject your application and/or withdraw any offer of employment. This is in accordance with
                    BS 7858:2012. YOU MUST THEREFORE SUPPLY ALL THE INFORMATION REQUIRED.
                </p>
            </div>
            <div class="col-md-12">
                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox" name="applicant_screening" value="1">
                        <span class="fa fa-check"></span>
                        I Agree
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <h3 class="box-title">Equality</h3>
            </div>
            <div class="col-md-12">
                <p style="text-align:justify">
                    We are committed to Equality in all aspects of employment so list any adjustments above or on a separate attached covering letter that you
                    require us to adopt that would enable you to carry out your duties as safely as possible. We will not use this information in any decision
                    making process in relation to your application.
                </p>
            </div>
            <div class="col-md-12">
                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox" name="equality_declaration" value="1">
                        <span class="fa fa-check"></span>
                        I Agree
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <label for="">Details</label>
                <textarea name="equality_details" rows="4" class="doNotAllowEnters form-control"></textarea>
            </div>
            <div class="col-md-12">
                <h3 class="box-title">Working Time Directive</h3>
            </div>
            <div class="col-md-12">
                <p style="text-align:justify">
                    You may have the opportunity to regularly work in excess of 48 hours a week. Should you wish to accept this opportunity you will need to
                    waive your rights regarding this aspect of the working time directive. Please tick either of the boxes below. This choice has nothing to do with
                    the success of your Application and can be reversed at any time.
                </p>
            </div>
            <div class="col-md-12">
                <div class="checkbox c-checkbox needsclick">
                    <label>
                        <input type="radio" name="working_time_declaration" value="1" class="needsclick">
                        <span class="fa fa-check"></span>
                        Yes
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="radio" name="working_time_declaration" value="0" class="needsclick">
                        <span class="fa fa-check"></span>
                        No
                    </label>
                </div>
            </div>
            <div class="col-md-12">
                <button type="submit" name="declaration" class="btn btn-green pull-right" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Accept Declaration and Finish App Form">Finish</button>
            </div>
        </form>
    </div>
</div>

@section EditScripts{
    <script>

    </script>
}