﻿
@{
    ViewData["Title"] = "Qualification Information";
    ViewData["SubTitle"] = "";

    Layout = "~/Views/Employee/_EditLayout.cshtml";
}


<div class="card">

    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">Adam James Edwards <b>- Qualification Information </b></h4>

        </div>

    </div>
    <hr class="mt-1" />
    <form method="post" action="/Employee/Edit/PersonalReferences/1">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Qualification</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Exact qualification name" required="required">


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Institute</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Institute" required="required">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Award Date</label>
                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="" placeholder="Degree Award Date" required="required">

                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">Course length</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Course length" required="required">


                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Contact Name</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Institute Contact Name" required="required">


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Contact Number</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Institute Contact Number" required="required">


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Contact Email</label>
                    <input type="text" name="" class="form-control" id="contact" placeholder="Institute contact email" required="required">


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Institute Address</label>
                    <textarea class="form-control" placeholder="Address"></textarea>


                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-6">
                <label class="control-label">Qualification Dates</label>
                <div class="input-group">
                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="start" placeholder="Start date" required="required">

                    <div class="input-group-prepend">
                        <div class="input-group-text" id="btnGroupAddon">to</div>
                    </div>

                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="end" placeholder="End date" required="required" aria-describedby="btnGroupAddon">

                </div>
            </div>
            <div class="col-md-2 mt-4">

                <button type="submit" class="btn btn-success btn-block btn-sm btn-flat" name="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Education">Add</button>
            </div>
            <div class="col-md-2 mt-4">

                <button type="submit" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Education and Go To References">Next</button>
            </div>

        </div>
        <hr />

        <div class="row mt-3 mb-0">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox c-checkbox">
                        <label id="clickTheNoEducationTag">
                            <input type="checkbox" name="education" id="educationTag" value="1" checked="">
                            <span class="fa fa-check"></span>
                            <em style="color:red">No education so far.</em>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" name="submitNoEducation" class="btn btn-success btn-sm btn-flat pull-right">Update</button>
            </div>
        </div>
    </form>
</div>

@section EditScripts{
    <script>
        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
    </script>
}