﻿
@{
    ViewData["Title"] = "Screening & Vetting";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Screening And Vetting</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Screening And Vetting</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-purple btn-square" data-toggle="modal" data-target="#myModalSearch">FILTER</button>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive p-3">
                        <table id="employees-list" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">#</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">PIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">EMPLOYEE NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">DOB</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SCREENING STATUS</th>
                                    <th></th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">6061</td>
                                    <td>Daib Micheal</td>
                                    <td>19-Sept-1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">6066</td>
                                    <td>Henchard Micheal</td>
                                    <td>09-Oct-1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">6068</td>
                                    <td>Abdalla Aydarous</td>
                                    <td>	19 Jul 19585</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td class="text-center">6064</td>
                                    <td>Adam James Edwards</td>
                                    <td>	11 Jan 1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td class="text-center">6064</td>
                                    <td>	Ahmed bhatti masood</td>
                                    <td>26 Sep 1989</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td class="text-center">6062</td>
                                    <td>	A Khalif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td class="text-center">	1000</td>
                                    <td>		Elyas Azizif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">8</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">9</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>22 Feb 1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">10</td>
                                    <td class="text-center">6066</td>
                                    <td>Micheal Henchard </td>
                                    <td>09-Oct-1994</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">6061</td>
                                    <td>Daib Micheal</td>
                                    <td>19-Sept-1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">6066</td>
                                    <td>Henchard Micheal</td>
                                    <td>09-Oct-1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">6068</td>
                                    <td>Abdalla Aydarous</td>
                                    <td>	19 Jul 19585</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td class="text-center">6064</td>
                                    <td>Adam James Edwards</td>
                                    <td>	11 Jan 1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td class="text-center">6064</td>
                                    <td>	Ahmed bhatti masood</td>
                                    <td>26 Sep 1989</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td class="text-center">6062</td>
                                    <td>	A Khalif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td class="text-center">	1000</td>
                                    <td>		Elyas Azizif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">8</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">9</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>22 Feb 1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">10</td>
                                    <td class="text-center">6066</td>
                                    <td>Micheal Henchard </td>
                                    <td>09-Oct-1994</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">6061</td>
                                    <td>Daib Micheal</td>
                                    <td>19-Sept-1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">6066</td>
                                    <td>Henchard Micheal</td>
                                    <td>09-Oct-1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">6068</td>
                                    <td>Abdalla Aydarous</td>
                                    <td>	19 Jul 19585</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td class="text-center">6064</td>
                                    <td>Adam James Edwards</td>
                                    <td>	11 Jan 1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td class="text-center">6064</td>
                                    <td>	Ahmed bhatti masood</td>
                                    <td>26 Sep 1989</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td class="text-center">6062</td>
                                    <td>	A Khalif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td class="text-center">	1000</td>
                                    <td>		Elyas Azizif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">8</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">9</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>22 Feb 1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">10</td>
                                    <td class="text-center">6066</td>
                                    <td>Micheal Henchard </td>
                                    <td>09-Oct-1994</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">6061</td>
                                    <td>Daib Micheal</td>
                                    <td>19-Sept-1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">6066</td>
                                    <td>Henchard Micheal</td>
                                    <td>09-Oct-1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">6068</td>
                                    <td>Abdalla Aydarous</td>
                                    <td>	19 Jul 19585</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td class="text-center">6064</td>
                                    <td>Adam James Edwards</td>
                                    <td>	11 Jan 1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td class="text-center">6064</td>
                                    <td>	Ahmed bhatti masood</td>
                                    <td>26 Sep 1989</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td class="text-center">6062</td>
                                    <td>	A Khalif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td class="text-center">	1000</td>
                                    <td>		Elyas Azizif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">8</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">9</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>22 Feb 1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">10</td>
                                    <td class="text-center">6066</td>
                                    <td>Micheal Henchard </td>
                                    <td>09-Oct-1994</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">1</td>
                                    <td class="text-center">6061</td>
                                    <td>Daib Micheal</td>
                                    <td>19-Sept-1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">2</td>
                                    <td class="text-center">6066</td>
                                    <td>Henchard Micheal</td>
                                    <td>09-Oct-1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center">3</td>
                                    <td class="text-center">6068</td>
                                    <td>Abdalla Aydarous</td>
                                    <td>	19 Jul 19585</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">4</td>
                                    <td class="text-center">6064</td>
                                    <td>Adam James Edwards</td>
                                    <td>	11 Jan 1973</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">5</td>
                                    <td class="text-center">6064</td>
                                    <td>	Ahmed bhatti masood</td>
                                    <td>26 Sep 1989</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">6</td>
                                    <td class="text-center">6062</td>
                                    <td>	A Khalif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">7</td>
                                    <td class="text-center">	1000</td>
                                    <td>		Elyas Azizif</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">8</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>25 Feb 1981</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">9</td>
                                    <td class="text-center">	1013</td>
                                    <td>elyas azize</td>
                                    <td>22 Feb 1985</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-center">10</td>
                                    <td class="text-center">6066</td>
                                    <td>Micheal Henchard </td>
                                    <td>09-Oct-1994</td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar-danger"></div>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="badge-pill">
                                            <span class="badge bg-red">0%</span>
                                        </div>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-outline-success btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Start Screening"><i class="icon-control-play"></i> </button>
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Update Screening"><i class="icon-control-forward"></i> </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalSearch" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">FILTER</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Employees</label>
                                <div class="col-12 col-sm-9">
                                    <select class="form-control w-100" id="employeeScreening" name="employeeScreening">
                                        <option value="1" selected="">Select employees</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">FILTER</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>





@section Scripts{

    <script>
        $(function () {
            $("#employees-list").DataTable();

            $('#employeeScreening').select2({
                selectOnClose: true,
                width: '100%'
            });

        });
    </script>
}