﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Staff Holidays</h5>
        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Staff Holidays</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-success btn-square font-12" data-toggle="modal" data-target="#myModalSearch">ADD HOLIDAYS</button>
                </div>
            </nav>
        </div>

    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">
        <div class="card">
            <div class="form-group row p-2">


                <div class="col-12 col-sm-6">
                    <select id="select-employee" class="form-control input-sm " name="select-employee">
                        <option value="">Select employee</option>
                        <option value="Non-operational"></option>
                        <option value="Operational"></option>
                    </select>
                </div>

                <div class="col-12 col-sm-3">
                    <select id="select-year" class="form-control input-sm " name="select-employee">
                        <option value="">Select year</option>
                        <option value="Non-operational"></option>
                        <option value="Operational"></option>
                    </select>
                </div>

                <div class="col-12 col-sm-3">
                    <button type="button" class="btn btn-purple btn-square font-12 w-100">SEARCH HOLIDAYS</button>

                </div>
            </div>
            <div class="form-group row p-2">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">-HOLIDAYS OVERVIEW</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>Total approved</td>
                                </tr>
                                <tr>

                                    <td>Approved Taken</td>
                                </tr>
                                <tr>
                                    <td>Approved Untaken</td>
                                </tr>
                                <tr>
                                    <td>Remaining Holidays</td>

                                </tr>
                                <tr>
                                    <td>Entitlement</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button type="button" class="btn btn-success btn-square font-12 w-100">VIEW YEARLY CALENDER</button>


                </div>
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th> S.No </th>
                                    <th>HOLIDAY DATE</th>
                                    <th>DAY</th>
                                    <th>PAY RATE</th>
                                    <th>TOTAL HOURS</th>
                                    <th>STATUS</th>
                                    <th>ACTIONS</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModalSearch" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content w-100">
            <div class="modal-header">
                <h4 class="modal-title">ADD HOLIDAYS</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">


                    <div class="col-sm-12 pb-2">

                        <div class="row">
                            <label class="col-12 col-sm-3 control-label mb-1">Employee</label>
                            <div class="col-12 col-sm-9">
                                <select class="form-control input-sm w-100" name="slctEmply" id="select_employee">
                                    <option value="">Select employee</option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>

                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12 pb-1">
                        <div class="form-group row">
                            <label for="fname" class="col-12 col-sm-3 control-label col-form-label">Holiday Date(s)</label>
                            <div class="col-sm-9 Sml-auto">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="start" placeholder="Start date" required="required">

                                    <div class="input-group-prepend">
                                        <div class="input-group-text" id="btnGroupAddon">to</div>
                                    </div>

                                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="end" placeholder="End date" required="required" aria-describedby="btnGroupAddon">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 pb-1">

                        <div class="row">
                            <label class="col-12 col-sm-3 control-label mb-1">Pay Rate Per Hour</label>
                            <div class="col-12 col-sm-9">
                                <input type="text" class="form-control" placeholder="Pay rate" />
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12 pb-1">

                        <div class="row">
                            <label class="col-12 col-sm-3 control-label mb-1">Total Hours per Leave</label>
                            <div class="col-12 col-sm-9">
                                <input type="text" class="form-control" placeholder="Total hours" />
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-12 pb-1">

                        <div class="row">
                            <label class="col-12 col-sm-3 control-label mb-1">Holiday Status</label>
                            <div class="col-12 col-sm-9">
                                <select class="form-control input-sm w-100" name="hlyStatus" id="holiday_status">
                                    <option value="">Select Status</option>
                                    <option value="1">Approved</option>
                                    <option value="2">Pending</option>
                                    <option value="3">Reject</option>

                                </select>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success font-12">ADD HOLIDAYS</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger font-12">CLOSE</button>
                </div>
            </form>
        </div>

    </div>
</div>















@section Scripts{
    <script>
        $(function () {

            $('.datepicker').datepicker({
                orientation: "bottom auto",
                daysOfWeekHighlighted: "0",
                weekStart: 1,
                format: "dd-mm-yyyy",
                autoclose: true,
                todayHighlight: true,
                toggleActive: true
            });




            $('#select_employee').select2({
                selectOnClose: true,
                width: '100%'
            });


            $('#holiday_status').select2({
                selectOnClose: true,
                width: '100%'
            });



            $('#select-year').select2({
                selectOnClose: true,
                width: '100%'
            });

            $('#branch_change_search').select2({
                selectOnClose: true,
                width: '100%'
            });


        });
    </script>
}

