﻿
@{
    ViewData["Title"] = "Training Information";
    ViewData["SubTitle"] = "";

    Layout = "~/Views/Employee/_EditLayout.cshtml";
}



<div class="card">
    <div class="row">
        <div class="col-12">
            <h4 class="pull-left card-title m-0">Adam James Edwards <b>- Trainings  </b></h4>

        </div>
    </div>
    <hr class="mt-4" />
    <form method="post" action="/Employee/Edit/EmployementHistory/1">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Training Title</label>
                    <select id="training_search" class="form-control input-sm " name="training">
                        <option value="">Select Training</option>
                        <option value="">CSCS</option>
                        <option value="">First Aid</option>
                        <option value="">Health & Safety</option>
                        <option value="">Other</option>

                    </select>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Awarding Body</label>
                    <select id="awarding_search" class="form-control input-sm " name="training">
                        <option value="">Select Training</option>
                        <option value="">Edecxel</option>
                        <option value="">QA</option>
                        <option value="">Other</option>

                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label>Award Date</label>
                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="award" placeholder="Award Date" required="required">
                </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <label>Expiry Date</label>
                    <input type="text" class="form-control datepicker" value="@DateTime.Now.ToString(" dd-MM-yyyy")" id="expiry" placeholder="Expiry Date" required="required">
                </div>
            </div>
            <div class="col-md-2 mt-4" >
                
                <button type="submit" class="btn btn-success btn-block btn-sm btn-flat" name="button" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Training">Save</button>
            </div>
            <div class="col-md-2 mt-4">
               
                <button type="submit" class="btn btn-primary btn-sm btn-flat" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Training and Go To Employment History">Next</button>
            </div>

        </div>
      

        <div class="row mb-0">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="checkbox c-checkbox">
                        <label id="clickTheNoTrainingsTag">
                            <input type="checkbox" name="trainings" id="trainingTag" value="1" checked="">
                            <span class="fa fa-check"></span>
                            <em style="color:red">No trainings so far.</em>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <button type="submit" name="submitNoTrainings" class="btn btn-success btn-sm btn-flat pull-right">Update</button>
            </div>
        </div>
    </form>
</div>
@section EditScripts{
    <script>


        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });



        $('#training_search').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#awarding_search').select2({
            selectOnClose: true,
            width: '100%'
        });
    </script>
}
