﻿
@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h4 class="font-medium text-uppercase m-0">Add New Site</h4>
        </div>

        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right ">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Site</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 ">
            <nav aria-label="breadcrumb" class=" mt-2">
                <div class="pull-right">
                    <a href="/Site/List/" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0 ml-5 ">
    <div class="page-content container-fluid">

        <!-- Row -->
        <div class="row  mb-0 justify-content-center">
            <div class="col-12 ">
                <div class="card">

                    <form class="form-horizontal font-12">
                        <div class="card-body">

                            <div class=" row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Client Name</label>
                                            
                                            <select id="cName" class="form-control input-sm " name="invoice_terms">
                                                <option value="">Select Site Group ...</option>
                                                <option value="l">Angleside Facilities</option>

                                            </select>
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="site" class="text-right control-label col-form-label"> Site Group</label>
                                            <select id="siteGroup" class="form-control input-sm " name="invoice_terms">
                                                <option value="">Select Site Group ...</option>
                                                <option value="l"></option>
                                               
                                            </select>
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="sname" class="text-right control-label col-form-label">Site Name</label>
                                            <input type="text" class="form-control" placeholder="Site Name" required="required">

                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Person</label>
                                            <input type="text" class="form-control"  placeholder="Contact Person" required="required">

                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Contact Number</label>
                                            <input type="text" class="form-control" id="Contactnumber" value="" placeholder="Contact Number" required="required">
                                        </div>
                                        
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-12">
                                    <div class="row">

                                        <div class="col-12 form-group">
                                            <label for="email" class="text-right control-label col-form-label">Address</label>
                                            <textarea class="form-control" placeholder="Payment Terms"></textarea>
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="fname" class="text-right control-label col-form-label">Post Code</label>
                                            <input type="text" class="form-control" id="Contactnumber" value="" placeholder="Post Code" required="required">

                                        </div>
           
                                        <div class="col-12 form-group">
                                            <div class="row">
                                                <div class="col-sm-6">

                                                    <label for="fname" class="text-right text-success control-label col-form-label">Site Billable Rate (Guarding)</label>
                                                    <input type="text" class="form-control " id="chargeRate_G" value="" placeholder="Site Billable Rate for Guards" required="required">
                                                </div>
                                                <div class="col-sm-6">

                                                    <label for="fname" class="text-right text-orange control-label col-form-label">Site Payable Rate (Guarding)</label>
                                                    <input type="text" class="form-control" id="chargeRate_S" value="" placeholder="Site Payable Rate for Guards" required="required">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 form-group">
                                            <div class="row">
                                                <div class="col-sm-6">

                                                    <label for="fname" class="text-right text-success control-label col-form-label">Site Billable Rate (Supervisor)</label>
                                                    <input type="text" class="form-control" id="chargeRate_G" value="" placeholder="Site Billable Rate for Supervisor" required="required">
                                                </div>
                                                <div class="col-sm-6">

                                                    <label for="fname" class="text-right text-orange control-label col-form-label">Site Payable Rate (Supervisor)</label>
                                                    <input type="text" class="form-control " id="chargeRate_S" value="" placeholder="Site Payable Rate for Supervisor" required="required">
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-12 form-group">
                                            <label for="email" class="text-right control-label col-form-label">Site  Note</label>
                                            <textarea class="form-control" placeholder="Site Note"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div> <hr />
                                   <div class="row justify-content-end">


                                       <div class="col-sm-1">
                                           <button type="submit" class="btn btn-success" name="addSite">Save</button> </div>
                                   </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

@section Scripts{
    <script>
        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
        $("#vat").click(function () {
            $("#vat_rgstr").toggleClass("hide");
        });
        $('#siteGroup').select2({
            selectOnClose: true,
            width: '100%'
        }); $('#cName').select2({
            selectOnClose: true,
            width: '100%'
        });
    </script>
}
