﻿@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<!--HEAD-->
<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Site Details</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Site Details</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    <button type="button" class="btn btn-purple btn-square">SEARCH</button>
                    <a href="/Site/List" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<!--BODY-->
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">
        <!--2 CARDS-->
        <div class="row ">
            <div class="col-md-8 mb-3">
                <div class="card h-100  ">
                    <div class="row">

                        <div class="col-6">
                            <h4 class="m-2">28 Pembridge road</h4>
                        </div>
                        <div class="col-6">
                            <div class="">
                                <button type="button" class="btn btn-info btn-square pull-right m-2" data-toggle="modal" data-target="#editSITEDETAILS">EDIT</button>
                            </div>
                        </div>
                    </div>
                    <table class="table p-0 m-0">
                        <tbody class="">
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>
                                        Client Name
                                    </strong>
                                </td>
                                <td style="padding: 6px !important">	Angelside Facilities</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Site Group</strong>
                                </td>
                                <td style="padding: 6px !important"></td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Address</strong>
                                </td>
                                <td style="padding: 6px !important">28 Pembridge Road, Notting Hill London</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Post Code</strong>
                                </td>
                                <td style="padding: 6px !important">W11 3HL	</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Contact Name & Numbers</strong>
                                </td>
                                <td style="padding: 6px !important">|</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Site Billable Rate (Guarding | Supervisor)</strong>
                                </td>
                                <td style="padding: 6px !important">10 | 10</td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Site Payable Rate (Guarding | Supervisor)</strong>
                                </td>
                                <td style="padding: 6px !important">
                                    8 | 8
                                </td>
                            </tr>
                            <tr>
                                <td style="padding: 6px !important">
                                    <strong>Site Note</strong>
                                </td>
                                <td style="padding: 6px !important"></td>
                            </tr>

                        </tbody>
                    </table>


                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card h-100 ">
                    <div class="row ">
                        <div class="col-md-12 ">

                            <h4 class="pl-2">Check Calls </h4>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12 col-sm-9 form-group ">
                            <input class="form-control " type="time" />


                        </div>
                        <div class="col-12 col-sm-3 form-group">

                            <button type="button" class="btn btn-success w-100">ADD </button>

                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col-12">
                            <div class="table-responsive ">
                                <table class="table no-wrap user-table ">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Check Call Time</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>


                            </div>

                        </div>
                    </div>





                </div>
            </div>
        </div>
        <!--TABLES-->
        <!--ADD TRAINED GUARDS-->
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="row">
                        <div class="col-6"><h4 class="m-2">Trained Guards</h4></div>
                        <div class="col-6"> <button type="button" class="btn btn-success btn-square pull-right m-2" data-toggle="modal" data-target="#addGuardT">ADD GUARD</button></div>
                    </div>
                    <div class="table-responsive p-3">
                        <table id="trainedGuard" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">
                                        S.No
                                    </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Trained Guard</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Training Date</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Event ID</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Abdalla Aydarous</td>
                                    <td>	01-03-2020</td>
                                    <td></td>
                                    <td>
                                        <button type="button" alt="4" class="getTrainedID-Delete btn btn-xs btn-danger" name="" data-toggle="modal" title="Delete guard" data-target="#deleteTRAINED"><span class="icon icon-trash"></span></button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Bashir Maxamuud</td>
                                    <td>04-12-2019</td>
                                    <td></td>
                                    <td>
                                        <button type="button" alt="4" class="getTrainedID-Delete btn btn-xs btn-danger" name="" data-toggle="modal" title="Delete guard" data-target="#deleteTRAINED"><span class="icon icon-trash"></span></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--ADD Banned Guards (Employee)-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="row">
                        <div class="col-6"><h4 class="m-2">Banned Guards (Employee)</h4></div>
                        <div class="col-6"> <button type="button" class="btn btn-success btn-square pull-right m-2" data-toggle="modal" data-target="#bannedGuardE">ADD GUARD</button></div>
                    </div>
                    <div class="table-responsive p-3">

                        <table id="bannedGuardsE" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">S.No</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Banned Guard</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">	Banned Date </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">	Event ID </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">	Actions</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--ADD Banned Guards (Subcontractor)-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="row">
                        <div class="col-6"><h4 class="m-2">Banned Guards (Subcontractor)</h4></div>
                        <div class="col-6"> <button type="button" class="btn btn-success btn-square pull-right m-2" data-toggle="modal" data-target="#bannedGuardSub">ADD GUARD</button></div>
                    </div>
                    <div class="table-responsive p-3">

                        <table id="bannedGuardSubT" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">
                                        S.No
                                    </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Subcontractor Name</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">	Banned Guard</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">	Banned Date </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Event ID</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Actions</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--MODALS-->
<!--EDIT SITE-->
<div id="editSITEDETAILS" class="modal fade large">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">EDIT SITE DETAILS</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal font-12">
                    <div class="card-body">

                        <div class=" row">
                            <div class="col-md-6 col-sm-12">
                                <div class="row">
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Client Name</label>

                                        <select id="cName" class="form-control input-sm " name="invoice_terms">
                                            <option value="">Select Site Group ...</option>
                                            <option value="l">Angleside Facilities</option>

                                        </select>
                                    </div>

                                    <div class="col-12 form-group">
                                        <label for="site" class="text-right control-label col-form-label"> Site Group</label>
                                        <select id="siteGroup" class="form-control input-sm " name="invoice_terms">
                                            <option value="">Select Site Group ...</option>
                                            <option value="l"></option>

                                        </select>
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="sname" class="text-right control-label col-form-label">Site Name</label>
                                        <input type="text" class="form-control" placeholder="Site Name" required="required">

                                    </div>

                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Person</label>
                                        <input type="text" class="form-control" placeholder="Contact Person" required="required">

                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Contact Number</label>
                                        <input type="text" class="form-control" id="Contactnumber" value="" placeholder="Contact Number" required="required">
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="row">

                                    <div class="col-12 form-group">
                                        <label for="email" class="text-right control-label col-form-label">Address</label>
                                        <textarea class="form-control" placeholder="Payment Terms"></textarea>
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="fname" class="text-right control-label col-form-label">Post Code</label>
                                        <input type="text" class="form-control" id="Contactnumber" value="" placeholder="Post Code" required="required">

                                    </div>

                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <label for="fname" class="text-right text-success control-label col-form-label">Site Billable Rate (Guarding)</label>
                                                <input type="text" class="form-control " id="chargeRate_G" value="" placeholder="Site Billable Rate for Guards" required="required">
                                            </div>
                                            <div class="col-sm-6">

                                                <label for="fname" class="text-right text-orange control-label col-form-label">Site Payable Rate (Guarding)</label>
                                                <input type="text" class="form-control" id="chargeRate_S" value="" placeholder="Site Payable Rate for Guards" required="required">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <div class="row">
                                            <div class="col-sm-6">

                                                <label for="fname" class="text-right text-success control-label col-form-label">Site Billable Rate (Supervisor)</label>
                                                <input type="text" class="form-control" id="chargeRate_G" value="" placeholder="Site Billable Rate for Supervisor" required="required">
                                            </div>
                                            <div class="col-sm-6">

                                                <label for="fname" class="text-right text-orange control-label col-form-label">Site Payable Rate (Supervisor)</label>
                                                <input type="text" class="form-control " id="chargeRate_S" value="" placeholder="Site Payable Rate for Supervisor" required="required">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-12 form-group">
                                        <label for="email" class="text-right control-label col-form-label">Site  Note</label>
                                        <textarea class="form-control" placeholder="Site Note"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <div class="row">


                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success" name="editSubcontractor">UPDATE</button>

                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="close-subcontractor-page">CLOSE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--ADD TRAINED GUARDS-->
<div id="addGuardT" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD GUARD</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Employee</label>
                                <div class="col-12 col-sm-9">
                                    <select class="form-control w-100" id="employeeSearch" name="employeeSearch">
                                        <option value="1" selected="">Select Employee</option>

                                        <option value="2" selected="">A Daib</option>
                                        <option value="3" selected="">Adam</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Training Date</label>
                                    <div class="col-12 col-sm-9">
                                        <input type="text" class="form-control datepicker" id="" placeholder="Training Date" required="required">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Event ID</label>
                                <div class="col-12 col-sm-9">
                                    <input type="text" class="form-control" id="" placeholder="Event ID" required="required">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">ADD</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--ADD Banned Guards (Employee)-->
<div id="bannedGuardE" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD GUARD</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Employee</label>
                                <div class="col-12 col-sm-9">
                                    <select class="form-control w-100" id="bEmployeeSearch" name="bEmployeeSearch">
                                        <option value="1" selected="">Select Employee</option>

                                        <option value="2" selected="">A Daib</option>
                                        <option value="3" selected="">Adam</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Training Date</label>
                                    <div class="col-12 col-sm-9">
                                        <input type="text" class="form-control datepicker" id="" placeholder="Training Date" required="required">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Event ID</label>
                                <div class="col-12 col-sm-9">
                                    <input type="text" class="form-control" id="" placeholder="Event ID" required="required">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">ADD</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--ADD Banned Guards (Subcontractor)-->
<div id="bannedGuardSub" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">ADD GUARD</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Subcontractors</label>
                                <div class="col-12 col-sm-9">
                                    <select class="form-control w-100" id="slctSubCon" name="slctSubCon">
                                        <option value="" selected="">Select Subcontractor</option>

                                        <option value="1" selected="">Adam</option>
                                      

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Sub Employees</label>
                                <div class="col-12 col-sm-9">
                                    <select class="form-control w-100" id="slctSubEmp" name="slctSubEmp">
                                        <option value="1" selected="">Select Employee</option>


                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Banned Date</label>
                                    <div class="col-12 col-sm-9">
                                        <input type="text" class="form-control datepicker" id="" placeholder="Training Date" required="required">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Event ID</label>
                                <div class="col-12 col-sm-9">
                                    <input type="text" class="form-control" id="" placeholder="Event ID" required="required">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">ADD</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        $('.datepicker').datepicker({
            orientation: "bottom auto",
            daysOfWeekHighlighted: "0",
            weekStart: 1,
            format: "dd-mm-yyyy",
            autoclose: true,
            todayHighlight: true,
            toggleActive: true
        });
        $("#trainedGuard").DataTable();
        $("#bannedGuardsE").DataTable();
       
        $("#bannedGuardSubT").DataTable();


        $('#cName').select2({
            selectOnClose: true,
            width: '100%'
        });
       
        $('#siteGroup').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#employeeSearch').select2({
            selectOnClose: true,
            width: '100%'
        }); $('#bEmployeeSearch').select2({
            selectOnClose: true,
            width: '100%'
        });
        $('#slctSubCon').select2({
            selectOnClose: true,
            width: '100%'
        }); $('#slctSubEmp').select2({
            selectOnClose: true,
            width: '100%'
        });

       
      
    </script>
}


