﻿@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="page-breadcrumb bg-light py-2  ml-md-5">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 align-self-center">
            <h5 class="font-medium text-uppercase m-0">Deleted Sites</h5>

        </div>
        <div class="col-lg-9 col-md-8 col-xs-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-md-right float-left">
                <ol class="breadcrumb m-0 justify-content-end p-0 bg-light">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Deleted Sites</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 align-self-center">
            <nav aria-label="breadcrumb" class="float-right mt-2">
                <div class="pull-right">
                    @*<button type="button" class="btn btn-purple btn-square">SEARCH</button>*@
                    <a href="/Employee/List" type="button" class="btn btn-info btn-square"> Back</a>

                </div>
            </nav>
        </div>
    </div>
</div>
<div class="page-wrapper m-0  ml-md-5">
    <div class="page-content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="table-responsive p-3">
                        <table id="employees-list" class="table no-wrap user-table mb-0">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium text-center">CLIENT NAME</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SITE GROUP</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SIN</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">SITE NAME</th>
                                    
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT PERSON </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">CONTACT NUMBER  </th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">POST CODE</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">ACTIONS</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">Expeditious Services</td>
                                    <td></td>
                                    <td>16</td>
                                    <td>28 Pembridge road</td>
                                    <td></td>
                                    <td></td>


                                    <td></td>

                                    <td>
                          
                                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle" data-toggle="tooltip" title="Restore Employee"><i class="icon-check"></i> </button>
                                        <button type="button" class="btn btn-outline-danger btn-circle btn-lg btn-circle " data-toggle="tooltip" title="Delete Employee Permanently"><i class="ti-trash"></i> </button>
                                    </td>
                                </tr>
                             
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="myModalSearch" role="dialog" aria-labelledby="myModalLabelLarge" aria-hidden="true" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">SEARCH STAFF</h4>
                <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form method="POST" action="" accept-charset="UTF-8" class="form-horizontal">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Branches</label>
                                <div class="col-12 col-sm-9">
                                    <select class="form-control w-100" id="branch_change_search" name="branch_id">
                                        <option value="1" selected="">Head Office</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="attachGuardGroupsSearch">
                                <div class="row">
                                    <label class="col-12 col-sm-3 control-label mb-1">Guard Group</label>
                                    <div class="col-12 col-sm-9">
                                        <select class="form-control input-sm w-100" name="gg_id" id="gg_search">
                                            <option value="">Select guard group</option>
                                            <option value="1">Secure Security Guards</option>
                                            <option value="2">Sia Door Supervison</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 pb-1">
                            <div class="row">
                                <label class="col-12 col-sm-3 control-label mb-1">Employee Type</label>
                                <div class="col-12 col-sm-9">
                                    <select id="employeement_type_search" class="form-control input-sm w-100" name="employee_type">
                                        <option value="">Select Type</option>
                                        <option value="Non-operational">Admins</option>
                                        <option value="Operational">Operational</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" name="searchEmployees" class="btn btn-success">SEARCH</button>
                    <button type="button" data-dismiss="modal" class="btn btn-danger">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts{

    <script>
        $(function () {
            $("#employees-list").DataTable();

            $('#employeement_type_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#gg_search').select2({
                selectOnClose: true,
                width: '100%'
            });
            $('#branch_change_search').select2({
                selectOnClose: true,
                width: '100%'
            });
        });
    </script>
}