﻿@using Management.Models
@model ForgotPasswordViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/schoolStyle.css" rel="stylesheet" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="main">

        <div class="login-Wrapper display-table">
            <div class="login-Overlay display-cell">
                <div class="container position-relative">

                    <div class="form-Wrapper">
                        <div class="form-header">

                            <div class="login-icon  col">

                                <img src="~/images/logo.svg" />
                            </div>
                            <div class="text-Wrapper  col">
                               
                                <p class="text-center">Enter Email Address</p>
                            </div>
                           
                            <div asp-validation-summary="ModelOnly" class="ui error message"></div>
                        </div>
                        <form asp-controller="Account" asp-action="ForgotPassword" id="ForgotPasswordForm" method="post" class="loginPage">
                            <div class="input-group  mb-4">
                                <div class="input-group-prepend">
                                    <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                                </div>
                                <input class="form-control" asp-for="Email" placeholder="Email" />
                            </div>
                            <button type="submit" class="btn btn-outline-primary form-control login-btn">
                                <i class="fas fa-sign-in-alt"></i> Submit
                            </button>
                            <p class="pt-2 float-right"><a href="/Account/Login">Back to Login.</a></p>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/vendor/jquery.min.js"></script>    
    <script src="~/js/vendor/jquery.validate.min.js"></script>
    <script src="~/js/vendor/sweetalert.min.js"></script>    
    <script>
        $(document).ready(function () {
            const smallSwal = swal.mixin({
                toast: true,
                position: 'top',
                showConfirmButton: false,
                timer: 3000
            });
            var $form = $('#ForgotPasswordForm');
            $form.off("submit");
            $form.submit(function (data, event) {
               
                var isFormValid = $('#ForgotPasswordForm').valid();
                if (isFormValid) {
                    swal({
                        title: "Wait!",
                        type:"info",
                        text: "Sending Reset Link!",
                        allowOutsideClick: false,
                        onOpen: () => {
                            swal.showLoading()
                        }
                    });
                    $.post($(this).attr('action'), $(this).serialize(), function (response) {
                        if (response.success) {
                         
                            smallSwal("Reset Link Sent!!", response.message, "success");
                        } else {
                          
                            smallSwal("Error!!", response.message, "error");
                        }
                }, 'json').done(function (data) {
                  
                });
                    return false;
                }
            });

    });
    </script>
</body>
</html>
