﻿@using Management.Models
@model Management.Models.LoginViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <title>Login - SSG</title>
    <!-- Custom CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        -->
</head>
<body>

    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background-color: #f5f7fa;">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="/images/logo.png" alt="logo" width="130" /></span>
                        <h5 class="font-medium mb-3">Sign In Here</h5>
                        <div asp-validation-summary="ModelOnly" class="ui error message"></div>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form asp-controller="Account" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-action="Login" method="post" class="form-horizontal mt-3" id="loginform">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                    </div>
                                    <input type="text" asp-for="Email" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg" asp-for="Password" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            @*<input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Remember me</label>*@
                                            <a href="javascript:void(0)" class="text-dark float-right">
                                                <i class="fa fa-list-alt mr-1"></i> Apply Online
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group text-center">
                                    <div class="col-xs-12 pb-3">
                                        <button class="btn btn-block btn-lg btn-info" type="submit">Log In</button>
                                    </div>
                                </div>
                              
                                <div class="form-group mb-0 mt-2">
                                    @*<div class="col-sm-12 text-center">
                                        <a href="/Client/Register" class="text-info ml-1"><b>Register as a Client</b></a>
                                    </div>
                                    <div class="col-sm-12 text-center">
                                        <a href="/Client/Register" class="text-info ml-1"><b>Register as an Employee</b></a>
                                    </div>*@
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="recoverform">
                    <div class="logo">
                        <span class="db"><img src="/images/logo.png"  width="130" alt="logo" /></span>
                        <h5 class="font-medium mb-3">Recover Password</h5>
                        <span>Enter your Email and instructions will be sent to you!</span>
                    </div>
                    <div class="row mt-3">
                        <!-- Form -->
                        <form asp-controller="Account" asp-action="ForgotPassword" id="ForgotPasswordForm" method="post" class="col-12">
                            <!-- email -->
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                                </div>
                                <input type="text" asp-for="Email" class="form-control form-control-lg" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <!-- pwd -->
                            <div class="row mt-3">
                                <div class="col-12">
                                    <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <p class="pt-2 float-right"><a href="/Account/Login">Back to Login.</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/script.min.js"></script>
    <script>
        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        $('#to-recover').on("click", function ()
        {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $(document).ready(function ()
        {
            var $ForgotPasswordForm = $('#ForgotPasswordForm');

            $ForgotPasswordForm.off("submit");
            $ForgotPasswordForm.submit(function (data, event)
            {
                var btn = $ForgotPasswordForm.find("[type=submit]");
                var btnText = btn.text();
                btn.text("Sending Reset Link...");
                $("body").addClass("stop-scrolling");



                var unindexed_array = $("#ForgotPasswordForm").serializeArray();
                var model = {};

                $.map(unindexed_array, function (n, i)
                {
                    model[n['name']] = n['value'];
                });




                $.post($(this).attr('action'), model, function (response)
                {
                    //can do here
                }, 'json').done(function (data)
                {
                    if (data.success)
                    {
                        btn.text(btnText);
                        swal("Check Your Email!!", data.message, "success");
                    } else
                    {
                        btn.text(btnText);

                        swal("Error!!", data.message, "error");
                        $("body").removeClass("stop-scrolling");


                    }
                    btn.text(btnText);


                });
                return false;


            });

        });
    </script>
</body>
</html>
