﻿
@model ResetPasswordViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" href="/favicon.png" />

    <title>Login - SSG</title>
    <!-- Custom CSS -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        -->
</head>
<body>

    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background:url(/images/big/auth-bg.jpg) no-repeat center center;">
            <div class="auth-box">
                <div id="loginform">
                    <div class="logo">
                        <span class="db"><img src="/images/logo.png" alt="logo" width="130" /></span>
                        <h5 class="font-medium mb-3">Enter New Password</h5>
                    </div>
                    <!-- Form -->
                    <div class="row">
                        <div class="col-12">
                            <form asp-controller="Account" asp-action="ResetPassword" id="ResetPasswordForm" method="post" class="loginPage">
                                @{
                                    var hashCode = Url.ActionContext.HttpContext.Request.QueryString.ToString();
                                    hashCode = hashCode.Replace("?t=", "");
                                }
                                <input asp-for="ResetToken" value="@hashCode" hidden />

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                                    </div>
                                    <input type="password" class="form-control form-control-lg" asp-for="Password" placeholder="New Password" aria-label="Password" aria-describedby="basic-addon1">
                                </div>

                                <div class="form-group text-center">
                                    <div class="col-xs-12 pb-3">
                                        <button class="btn btn-block btn-lg btn-info" type="submit">Reset Password</button>
                                    </div>
                                </div>

                                <div class="form-group mb-0 mt-2">
                                    <div class="col-sm-12 text-center">
                                            <a href="/Account/Login" class="text-info ml-1"><b>Go to Login</b></a>
                                        </div>
                                        
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="/js/script.min.js"></script>

    <script>
        $(document).ready(function ()
        {
            const smallSwal = swal.mixin({
                toast: true,
                position: 'top',
                showConfirmButton: false,
                timer: 3000
            });

            var $form = $('#ResetPasswordForm');
            $form.off("submit");
            $form.submit(function (data, event)
            {

                swal({
                    title: "Wait!",
                    type: "info",
                    text: "Trying to reset your password!",
                    allowOutsideClick: false,
                    onOpen: () =>
                    {
                        swal.showLoading()
                    }
                });
                $.post($(this).attr('action'), $(this).serialize(), function (response)
                {
                    if (response.success)
                    {

                        smallSwal("Done!!", response.message, "success");
                    } else
                    {
                        swal({
                            title: "Error!!",
                            html: response.message + "<br><br> <a href='/Account/Login'>Reset Password Again</a>",
                            type: "error"
                        });
                    }
                }, 'json').done(function (response)
                {
                    if (response.success)
                    {

                        smallSwal("Done!!", response.message, "success");
                    } else
                    {
                        swal({
                            title: "Error!!",
                            html: response.message + "<br><br> <a href='/Account/Login'>Reset Password Again</a>",
                            type: "error"
                        });
                    }

                });
                return false;

            });

        });


    </script>
</body>
</html>
